* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

body {
  font-family: $baseFont, sans-serif;
  font-size: 16px; //20px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: $mainTextColor;
  min-height: 100%;
  /* Margin bottom by sticky footer height */
  //margin-bottom: $footerHeight;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
  color: $bgColor;
}

h1 {
  font-size: 34px;
  font-weight: normal;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

dl, dt, dd, ol, ul, li {
  margin: 0;
  padding: 0;
}

::selection {
  background: $redPrimary;
  color: #FFF;
  text-shadow: none;
}

::-moz-selection {
  background: $redPrimary; /* Firefox */
  color: #FFF;
  text-shadow: none;
}

::-webkit-selection {
  background: $redPrimary; /* Safari */
  color: #FFF;
  text-shadow: none;
}

:active,
:focus { outline: none !important; }



p,
pre,
ul,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form { margin-bottom: 30px; }


.uppercase { text-transform: uppercase !important; }

.lowercase { text-transform: lowercase !important; }

.capitalize { text-transform: capitalize !important; }
.relative {
  position: relative;
}


.grayscale {
  filter: brightness(80%) grayscale(1) contrast(90%);
  -webkit-filter: brightness(80%) grayscale(1) contrast(90%);
  -moz-filter: brightness(80%) grayscale(1) contrast(90%);
  -o-filter: brightness(80%) grayscale(1) contrast(90%);
  -ms-filter: brightness(80%) grayscale(1) contrast(90%);
  transition: 1s filter ease;
  -webkit-transition: 1s -webkit-filter ease;
  -moz-transition: 1s -moz-filter ease;
  -ms-transition: 1s -ms-filter ease;
  -o-transition: 1s -o-filter ease;
}

.grayscale:hover {
  filter: brightness(100%) grayscale(0);
  -webkit-filter: brightness(100%) grayscale(0);
  -moz-filter: brightness(100%) grayscale(0);
  -o-filter: brightness(100%) grayscale(0);
  -ms-filter: brightness(100%) grayscale(0);
}

.vertical-middle {
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.font-weight-light {
  font-weight: 300;
}
.font-weight-normal {
  font-weight: 400;
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-semibold {
  font-weight: 600;
}
.font-weight-bold {
  font-weight: 700;
}

.border-top-light {
  border-top: solid 1px rgba(255, 255, 255, 0.6);
}
.border-bottom-light {
  border-bottom: solid 1px rgba(255, 255, 255, 0.6);
}
.border-left-light {
  border-left: solid 1px rgba(255, 255, 255, 0.6);
}
.border-right-light {
  border-right: solid 1px rgba(255, 255, 255, 0.6);
}
.color-blue {
  color: $blueLink;
}
.color-dark-blue {
  color: #0c2947;
}
.color-white {
  color: #fff;
}
.color-black {
  color: #000;
}
.color-gray {
  color: #808080;
}
.label-orange {
  color: #EEC043;
  border: solid 1px #EEC043;
  font-weight: 300;
}
.line-height-38 {
  line-height: 38px;
}
.font-16 {
  font-size: 16px;
}
.font-14 {
  font-size: 14px;
}
.font300 {
  font-weight: 300;
}
.font400 {
  font-weight: 400;
}
.font500 {
  font-weight: 500;
}
.font700 {
  font-weight: 700;
}
.colorError {
  color: #d32d27;
  font-weight: 500;
}
.borderError {
  border: solid 2px #d32d27;
  border-radius: 0;
}
.colorSuccess {
  color: #1a9668;
  font-weight: 500;
}
.borderSuccess {
  border: solid 2px #1a9668;
  border-radius: 0;
}
.colorInfo {
  color: rgba(47, 147, 216, 0.8);
  font-weight: 500;
}
.borderInfo {
  border: solid 2px rgba(47, 147, 216, 0.8);
  border-radius: 0;
}
.nobg {
  background: none;
}
.bg-secondary {
  background: #F69453;
}
.color-orange {
  color: #EEC043;
}
.bg-gray {
  background: #d8d8d8;
}
.bg-gray-light {
  background: #F2F2F2;
}
.bg-white {
  background: #fff;
}
a {
  color: $blueLink;
  &:hover {
    text-decoration: none;
    color: #337ab7;
  }
}
.row.display-table {
  display: table;
  [class*=’col-’] {
    float: none;
    display: table-cell;
  }
}
.rotate-90 {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  &:before {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
.rotate-45 {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  &:before {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.rotate--45 {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  &:before {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.object-card {
  background: #fff;
  height: 100%;
  border: 1px solid rgba(0,0,0,.125);

  .object-image-list {
    width: 100% !important;
    height: 240px;
    overflow: hidden;
  }
  .object-image-list-filtered {
    height: auto;
    overflow: hidden;
  }
  .object-tag {
    font-size: 12px;
    line-height: 30px;
    margin: 0 5px;
    padding: 5px;
    background-color: #ffeebf;
  }
  .object-bottom-btn {
    position: absolute;
    bottom: 25px;
    left:25px;
    width: calc(100% - 50px);
  }
}

//.pagination {
//  li {
//    margin: 0 10px;
//    float: left;
//    width: 40px;
//    height: 40px;
//    display: block;
//    background: none !important;
//    border: solid 2px $gray;
//    a {
//      background: none !important;
//      width: 100%;
//      border: none !important;
//      padding: 0;
//      margin: 0;
//      height: 100%;
//      color: $gray;
//    }
//    &.active {
//      background: none;
//      border: solid 2px $bgColor;
//      a {
//        background: none;
//        border: none;
//        color: $bgColor;
//        font-weight: bold;
//        &:hover {
//          color: #000;
//        }
//      }
//    }
//    &:hover {
//      border-color: #000;
//      a {
//        color: #000;
//      }
//    }
//  }
//}

.pagination {
  li.pagination-dots span {
    background-color: #eee;
    border-color: #eee;
    cursor: default;
  }
}

@include padding-margins("");

@media (max-width: 767px){

  @include padding-margins("xs-");
  .display-xs-flex {
    display: flex;
  }

  .xs-full-width {
    width: 100%;
  }
}

@media (min-width: 768px) {

  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }

  .object-card {
    .object-image-list-filtered {
      max-height: 280px;
    }
    .object-tag {
      font-size: 20px;
      line-height: 40px;
    }
  }
}

@media (max-width: 767px){
  @include padding-margins("xs-sm-");
}

@media (min-width: 768px) and (max-width: 991px){
  @include padding-margins("sm-");
  .display-sm-flex {
    display: flex;
  }
  .sm-full-width {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px){

  @include padding-margins("md-");
  .display-md-flex {
    display: flex;
  }
}

@media (min-width: 1200px){
  @include padding-margins("lg-");
  .display-lg-flex {
    display: flex;
  }
  .profileControls {
    width: 215px;
    margin-top: 18px;
  }
}
.vertical-middle:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}


.anchor {
  display: block;
  height: 72px;
  margin-top: -72px;
  visibility: hidden;
}