
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$redPrimary\".\A         on line 8 of common.scss\A \A 3:   margin: 0;\A 4:   padding: 0;\A 5: }\A 6: \A 7: ::selection {\A 8:   background: $redPrimary;\A 9:   color: #FFF;\A 10:   text-shadow: none;\A 11: }\A 12: \A 13: ::-moz-selection {"; }
