.form-control {
  font-size: 20px;
  border-radius: 2px;
}

a.btn {
  &:before {
    content: '\200B';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }

  height: 65px;
  border-radius: 3px;

  &.btn-primary{
    background: $greenSecondary;
    border-color: $greenPrimary;
    //color: $bgColor;

    /* promo button */
    &.promo-btn {
      font-size: 16px;
      letter-spacing: 0.9px;
      font-weight: 500;
      padding-left: 80px;
      padding-right: 80px;
    }
    @media only screen and (min-width: 480px) {
      &.promo-btn {
        padding-left: 120px;
        padding-right: 120px;
      }
    }
    /* \promo button */

    &.active.focus,
    &.active:focus,
    &.active:hover,
    &:active.focus,
    &:active:focus,
    &:active:hover,
    .open>.dropdown-toggle.btn-primary.focus,
    .open>.dropdown-toggle.btn-primary:focus,
    .open>.dropdown-toggle.btn-primary:hover {
      background: $darkGreenSecondary;
      border-color: $darkGreenPrimary;
     // color: $purplePrimary;
    }
    &.btn-with-icon {
      .btn-text, & [class^="ti-"], & [class*=" ti-"] {
        display: inline-block;
        vertical-align: middle;
      }
    }
    &.inverse{
      background: none;
      border: solid 1px $redPrimary;
      color: $redPrimary;

      &.active.focus,
      &.active:focus,
      &.active:hover,
      &:active.focus,
      &:active:focus,
      &:active:hover,
      .open>.dropdown-toggle.btn-primary.focus,
      .open>.dropdown-toggle.btn-primary:focus,
      .open>.dropdown-toggle.btn-primary:hover{
        background: $grayLight;
      }
    }
  }

  &.btn-secondary{
    background: $grayPrimary;
    border-color: $grayPrimary2;
    color: #fff;

    &.active.focus,
    &.active:focus,
    &.active:hover,
    &:active.focus,
    &:active:focus,
    &:active:hover,
    .open>.dropdown-toggle.btn-primary.focus,
    .open>.dropdown-toggle.btn-primary:focus,
    .open>.dropdown-toggle.btn-primary:hover{
      background: $darkRedSecondary;
      border-color: $darkRedPrimary;
    }
    &.btn-with-icon {
      .btn-text, & [class^="ti-"], & [class*=" ti-"] {
        display: inline-block;
        vertical-align: middle;
        margin-top: 0px;
      }
    }
    &.inverse{
      background: none;
      border: solid 1px $grayPrimary;
      color: $grayPrimary;

      &.active.focus,
      &.active:focus,
      &.active:hover,
      &:active.focus,
      &:active:focus,
      &:active:hover,
      .open>.dropdown-toggle.btn-primary.focus,
      .open>.dropdown-toggle.btn-primary:focus,
      .open>.dropdown-toggle.btn-primary:hover{
        background: $grayLight;
      }
    }
  }


  &.btn-facebook{
    background: $facebook;
    border-color: mix($facebook,#000,90%);

    &.active.focus,
    &.active:focus,
    &.active:hover,
    &:active.focus,
    &:active:focus,
    &:active:hover{
      background: $facebook;
      border-color: mix($facebook,#000,90%);
    }
    &.btn-with-icon {
      .btn-text, & [class^="ti-"], & [class*=" ti-"] {
        display: inline-block;
        vertical-align: middle;
      }
      span[class^="ti-"] {
        border: solid 1px #fff;
        padding: 5px;
        margin-right: 10px;
      }
    }
  }

  &.btn-google{
    background: $google;
    border-color: mix($google,#000,90%);

    &.active.focus,
    &.active:focus,
    &.active:hover,
    &:active.focus,
    &:active:focus,
    &:active:hover{
      background: $google;
      border-color: mix($google,#000,90%);
    }
    &.btn-with-icon {
      .btn-text, & [class^="ti-"], & [class*=" ti-"] {
        display: inline-block;
        vertical-align: middle;
      }
      span[class^="ti-"] {
        border: solid 1px #fff;
        padding: 5px;
        margin-right: 10px;
      }
    }
  }

  &.btn-linkedIn{
    background: $linkedIn;
    border-color: mix($linkedIn,#000,90%);

    &.active.focus,
    &.active:focus,
    &.active:hover,
    &:active.focus,
    &:active:focus,
    &:active:hover{
      background: $linkedIn;
      border-color: mix($linkedIn,#000,90%);
    }
    &.btn-with-icon {
      .btn-text, & [class^="ti-"], & [class*=" ti-"] {
        display: inline-block;
        vertical-align: middle;
      }
      span[class^="ti-"] {
        border: solid 1px #fff;
        padding: 5px;
        margin-right: 10px;
      }
    }
  }

}

button.btn, input[type="submit"], .form-upload label.btn {
  height: 50px;
  border-radius: 3px;
  &.btn-primary {
    background: $greenSecondary;
    border-color: $greenPrimary;
    color: $purplePrimary;
    font-size: 16px;
    letter-spacing: 0.9px;
    font-weight: 500;

    &.active.focus,
    &.active:focus,
    &.active:hover,
    &:active.focus,
    &:active:focus,
    &:active:hover,
    .open>.dropdown-toggle.btn-primary.focus,
    .open>.dropdown-toggle.btn-primary:focus,
    .open>.dropdown-toggle.btn-primary:hover{
      background: $darkGreenSecondary;
      border-color: $darkGreenPrimary;
      color: $purplePrimary;
    }
    &.btn-with-icon {
      .btn-text, & [class^="ti-"], & [class*=" ti-"] {
        display: inline-block;
        vertical-align: middle;
      }
    }
    &.inverse{
      background: none;
      border: solid 1px $redPrimary;
      color: $redPrimary;

      &.active.focus,
      &.active:focus,
      &.active:hover,
      &:active.focus,
      &:active:focus,
      &:active:hover,
      .open>.dropdown-toggle.btn-primary.focus,
      .open>.dropdown-toggle.btn-primary:focus,
      .open>.dropdown-toggle.btn-primary:hover{
        background: $grayLight;
      }

    }
  }

  &.btn-secondary{
    background: $grayPrimary;
    border-color: $grayPrimary2;
    color: #fff;

    &.active.focus,
    &.active:focus,
    &.active:hover,
    &:active.focus,
    &:active:focus,
    &:active:hover,
    .open>.dropdown-toggle.btn-primary.focus,
    .open>.dropdown-toggle.btn-primary:focus,
    .open>.dropdown-toggle.btn-primary:hover{
      background: $darkRedSecondary;
      border-color: $darkRedPrimary;
    }
    &.btn-with-icon {
      .btn-text, & [class^="ti-"], & [class*=" ti-"] {
        display: inline-block;
        vertical-align: middle;
        margin-top: 0px;
      }
    }
    &.inverse{
      background: none;
      border: solid 1px $grayPrimary;
      color: $grayPrimary;

      &.active.focus,
      &.active:focus,
      &.active:hover,
      &:active.focus,
      &:active:focus,
      &:active:hover,
      .open>.dropdown-toggle.btn-primary.focus,
      .open>.dropdown-toggle.btn-primary:focus,
      .open>.dropdown-toggle.btn-primary:hover{
        background: $grayLight;
      }
    }
  }
}

/* ---------------------------------------------------------------new------------------------------------------------ */
/* Input Sizes
--------------------------------------------------
*/
/* Checkboxes and Radio buttons
--------------------------------------------------
*/
/* Form layouts  : Horizontal
--------------------------------------------------
*/
/* Form layouts  : Attached
--------------------------------------------------
*/
/* Form layouts  : Responsive Handlers
--------------------------------------------------
*/
/* Form Groups
--------------------------------------------------
*/
/* Form validation
--------------------------------------------------
*/
/* Addon inputs
--------------------------------------------------
*/
/* Plugins
--------------------------------------------------
Datepicker
https://github.com/eternicode/bootstrap-datepicker
*/
/* Timepicker
https://github.com/m3wolf/bootstrap3-timepicker
*/
/* Daterangepicker
http://www.dangrossman.info/
*/
/* Select2
http://ivaynberg.github.io/select2/
*/
/* Bootstrap Tags input
https://github.com/timschlechter/bootstrap-tagsinput
*/
/* Bootstrap3 wysihtml5
https://github.com/Waxolunist/bootstrap3-wysihtml5-bower
*/
/* Summernote
https://github.com/HackerWins/summernote
*/
/* Pages SelectFx */
/* Default custom select styles */
/* Placeholder and selected option */
/* Options */
/* Optgroup and optgroup label */
/* more options need more delay declaration */
/* Pages Select  overriding */
/* Dropzone for Angular */
/* end overrides */
/* Demo specifc classes */
label {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
input {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  -webkit-transition: none !important;
  &:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none !important;
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    &:focus {
      -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset !important;
    }
  }
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
button {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
select {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  &:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  &:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
input[type="radio"] {
  margin-top: 1px;
  line-height: normal;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
input[type="checkbox"] {
  margin-top: 1px;
  line-height: normal;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
select[multiple] {
  height: auto !important;
}
select[size] {
  height: auto !important;
}
input[type="file"] {
  &:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
form {
  legend {
    margin: 15px 0px 10px 0px;
  }
}
.input-sm {
  font-size: 13px;
  min-height: 32px;
  height: 32px;
  padding: 8px 9px;
}
.form-horizontal {
  .form-group-sm {
    .form-control {
      font-size: 13px;
      min-height: 32px;
      height: 32px;
      padding: 8px 9px;
    }
  }
  .form-group-lg {
    .form-control {
      border-radius: 3px;
      font-size: 16px;
      height: 45px;
      padding: 11px 13px;
    }
  }
  .form-group {
    border-bottom: 1px solid #e6e6e6;
    padding-top: 19px;
    padding-bottom: 19px;
    margin-bottom: 0;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      .control-label {
        opacity: .6;
      }
    }
    .control-label {
      text-align: left;
      opacity: .42;
      -webkit-transition: opacity ease 0.3s;
      -moz-transition: opacity ease 0.3s;
      -o-transition: opacity ease 0.3s;
      transition: opacity ease 0.3s;
    }
  }
  .form-group.focused {
    .control-label {
      opacity: 1;
    }
  }
}
.input-lg {
  border-radius: 3px;
  font-size: 16px;
  height: 45px;
  padding: 11px 13px;
}
.input-xlg {
  height: 51px;
  font-size: 16px;
  line-height: 22px;
}
.radio {
  display: inline-block;
  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px !important;
    margin-right: 15px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    padding-top: 6px;
    &:before {
      content: "";
      display: inline-block;
      width: 30px;
      height: 30px;
      position: absolute;
      left: 0px;
      top: 0px;
      background-color: #fff;
      border: 1px solid #0c2947;
      z-index: 1;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      border-radius: 99px;
      -webkit-transition: border background-color 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
      -moz-transition: border background-color 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
      -o-transition: border background-color 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
      transition: border background-color 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
    }
    &:after {
      content: "";
      display: inline-block;
      width: 28px;
      height: 28px;
      position: absolute;
      left: 1px;
      top: 1px;
      background-color: #fff;
      border: 1px solid #fff;
      z-index: 2;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      border-radius: 99px;
      -webkit-transition: border background-color 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
      -moz-transition: border background-color 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
      -o-transition: border background-color 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
      transition: border background-color 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
    }
  }
  input[type=radio] {
    &:checked {
      + {
        label {
          &:before {
            border-width: 1px;
          }
          &:after {
            background: #0c2947;
            border-width: 8px;
          }
        }
      }
    }
    opacity: 0;
    width: 0;
    height: 0;
  }
  input[type="radio"] {
    &:focus {
      + {
        label {
          color: #2c2c2c;
          &:before {
            background-color: #e6e6e6;
          }
        }
      }
    }
  }
  input[type=radio][disabled] {
    + {
      label {
        opacity: 0.65;
      }
    }
  }
  + {
    .radio {
      margin-top: 10px;
    }
  }
}
.checkbox {
  display: inline-block;
  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px !important;
    margin-right: 15px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    padding-top: 6px;
    transition: border 0.2s linear 0s, color 0.2s linear 0s;
    white-space: nowrap;
    &:before {
      content: "";
      display: inline-block;
      width: 30px;
      height: 30px;
      position: absolute;
      left: 0px;
      top: 0px;
      background-color: #fff;
      border: 1px solid #0c2947;
      z-index: 1;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      top: 1.4px;
      border-radius: 3px;
      transition: border 0.2s linear 0s, color 0.2s linear 0s;
    }
    &:after {
      content: "";
      display: inline-block;
      width: 28px;
      height: 28px;
      position: absolute;
      left: 1px;
      top: 1px;
      background-color: #fff;
      border: 1px solid #fff;
      z-index: 2;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      border-radius: 3px;
    }
    &::after {
      display: inline-block;
      width: 28px;
      height: 28px;
      position: absolute;
      left: 1px;
      top: 1px;
      font-size: 17px;
      transition: border 0.2s linear 0s, color 0.2s linear 0s;
      text-align: center;
      padding-top: 4px;
      margin-top: 1px;
    }
  }
  input[type=radio][disabled] {
    + {
      label {
        &:after {
          background-color: #e6e6e6;
        }
      }
    }
  }
  input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked {
      + {
        label {
          &::after {
            font-family: 'themify';
            content: "\e64c";
            color: #0c2947;
          }
        }
      }
    }
  }
  input[type="checkbox"] {
    &:focus {
      + {
        label {
          color: #2c2c2c;
          &:before {
            background-color: #e6e6e6;
          }
        }
      }
    }
  }
  input[type=checkbox][disabled] {
    + {
      label {
        opacity: 0.65;
        &:before {
          background-color: #eceff3;
        }
      }
    }
  }
  + {
    .checkbox {
      margin-top: 10px;
    }
  }
}
.checkbox.checkbox-circle {
  label {
    &:after {
      border-radius: 99px;
    }
    &:before {
      border-radius: 99px;
    }
  }
}
.checkbox.right {
  label {
    margin-right: 35px;
    padding-left: 0 !important;
    &:before {
      right: -35px;
      left: auto;
    }
  }
  input[type=checkbox] {
    &:checked {
      + {
        label {
          position: relative;
          &::after {
            font-family: 'FontAwesome';
            content: "\F00C";
            position: absolute;
            right: -27px;
            left: auto;
          }
        }
      }
    }
  }
}
.input-group.transparent {
  .input-group-addon {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.07);
  }
}
.form-group-attached {
  .form-group.form-group-default {
    border-radius: 0;
    margin-bottom: 0;
  }
  >div {
    margin: 0;
    &:first-child.row {
      >[class*='col-'] {
        &:first-child {
          .form-group-default {
            border-top-left-radius: 2px;
          }
        }
        &:last-child {
          .form-group-default {
            border-top-right-radius: 2px;
          }
        }
      }
    }
    &:first-child.form-group-default {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
    &:last-child.row {
      >[class*='col-'] {
        &:first-child {
          .form-group-default {
            border-bottom-left-radius: 2px;
          }
        }
        &:last-child {
          .form-group-default {
            border-bottom-right-radius: 2px;
          }
        }
      }
    }
    &:last-child.form-group-default {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
    &:not(:last-child) {
      .form-group-default {
        border-bottom-color: transparent;
      }
    }
    &:not(:last-child).form-group-default {
      border-bottom-color: transparent;
    }
  }
  >div.row {
    >[class*='col-'] {
      padding-right: 0 !important;
      padding-left: 0 !important;
      &:not(:only-child) {
        &:not(:last-child) {
          >.form-group-default {
            border-right-color: transparent;
          }
        }
      }
    }
  }
}
.form-group {
  position: relative;
  label {
    .help {
      margin-left: 8px;
    }
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    width: 100%;
  }
  .help {
    font-size: 12px;
    color: rgba(98, 98, 98, 0.55);
  }
  input.form-control {
    height: 50px;
    font-size: 16px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    &::-webkit-input-placeholder {
      font-size: 16px;
    }
    &::-moz-placeholder {
      font-size: 16px;
    }
    &:-ms-input-placeholder {
      font-size: 16px;
    }
    &:-moz-placeholder {
      font-size: 16px;
    }
  }
  .select2-container {
    .select2-choice {
      abbr {
        top: 3px;
      }
    }
  }
  >.btn {
    margin-top: 32px;
  }
}
.form-group.required {
  label {
    &:after {
      color: red;
      content: "*";
      font-family: arial;
      font-size: 20px;
      position: absolute;
      padding-left: 5px;
    }
  }
}
.has-success {
  .help-block {
    color: #418e02;
  }
  .control-label {
    color: #418e02;
  }
  .radio {
    color: #418e02;
  }
  .checkbox {
    color: #418e02;
  }
  .radio-inline {
    color: #418e02;
  }
  .checkbox-inline {
    color: #418e02;
  }
  .form-control {
    border-color: #418e02;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    &:focus {
      border-color: #2a5c01;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  .input-group-addon {
    background: #f0f0f0;
    border: 1px solid rgba(0, 0, 0, 0.07);
    color: rgba(98, 98, 98, 0.47);
  }
  .form-control-feedback {
    color: #418e02;
  }
}
.has-warning {
  .help-block {
    color: #ad710a;
  }
  .control-label {
    color: #ad710a;
  }
  .radio {
    color: #ad710a;
  }
  .checkbox {
    color: #ad710a;
  }
  .radio-inline {
    color: #ad710a;
  }
  .checkbox-inline {
    color: #ad710a;
  }
  .form-control {
    border-color: #ad710a;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    &:focus {
      border-color: #7d5207;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  .input-group-addon {
    background: #f0f0f0;
    border: 1px solid rgba(0, 0, 0, 0.07);
    color: rgba(98, 98, 98, 0.47);
  }
  .form-control-feedback {
    color: #ad710a;
  }
}
.has-error {
  .help-block {
    color: red;
  }
  .control-label {
    color: red;
  }
  .radio {
    color: red;
  }
  .checkbox {
    color: red;
  }
  .radio-inline {
    color: red;
  }
  .checkbox-inline {
    color: red;
  }
  .form-control {
    border-color: red;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    &:focus {
      border-color: #cc0000;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  .input-group-addon {
    background: #f0f0f0;
    border: 1px solid rgba(0, 0, 0, 0.07);
    color: rgba(98, 98, 98, 0.47);
  }
  .form-control-feedback {
    color: red;
  }
  input {
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px #F9E9E9 inset !important;
    }
  }
}
.error {
  font-size: 12px;
  color: red;
  display: block;
}
.input-group-addon {
  background: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.07);
  color: rgba(98, 98, 98, 0.47);
  font-size: 14px;
  padding: 6px 9px;
  display: table-cell;
  border-radius: 3px;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s, color 0.2s linear 0s, box-shadow 0.2s linear 0s, background 0.2s linear 0s;
  i {
    position: relative;
    top: 1px;
  }
  .arrow {
    position: relative;
    right: -6px;
    color: #D1DADE;
    z-index: 100;
    &:before {
      font-family: 'FontAwesome';
      content: "\f0da";
      font-size: 23px;
      position: absolute;
      left: 17px;
      top: -2px;
    }
  }
  &:last-child {
    .arrow {
      &:before {
        font-family: 'FontAwesome';
        content: "\f0d9";
        font-size: 23px;
        position: absolute;
        left: -23px;
        top: -2px;
      }
    }
    input {
      border-left: 0px;
    }
  }
}
.input-group-addon.primary {
  background-color: #48ba5e;
  border: 1px solid #48ba5e;
  color: #fff;
  background-color: #48ba5e;
  border: 1px solid #48ba5e;
  color: #fff;
  .arrow {
    color: #48ba5e;
  }
}
.input-group-addon.success {
  background-color: #0090d9;
  color: #fff;
  .arrow {
    color: #0090d9;
  }
}
.input-group-addon.info {
  background-color: #1f3853;
  color: #fff;
  .arrow {
    color: #1f3853;
  }
}
.input-group-addon.warning {
  background-color: #fbb05e;
  color: #fff;
  background-color: #fbb05e;
  color: #fff;
  .arrow {
    color: #fbb05e;
  }
}
.input-group-addon.danger {
  background-color: #f35958;
  color: #fff;
  .arrow {
    color: #f35958;
  }
}
.datepicker {
  padding: 16px 25px;
  border-radius: 2px;
  font-size: 12px;
  &:after {
    border-bottom-color: #fafafa;
  }
  thead {
    tr {
      .datepicker-switch {
        color: #6f7b8a;
        font-size: 13px;
      }
      .next {
        color: #48ba5e;
        content: '';
        font-size: 0px;
        &:before {
          color: #48ba5e;
          font-family: 'FontAwesome';
          font-size: 10px;
          content: "\f054";
        }
      }
      .prev {
        color: #48ba5e;
        content: '';
        font-size: 0px;
        &:before {
          color: #48ba5e;
          font-family: 'FontAwesome';
          font-size: 10px;
          content: "\f053";
        }
      }
      .dow {
        font-family: 'Montserrat';
        color: #48ba5e;
        text-transform: uppercase;
        font-size: 11px;
      }
      th {
        width: 31px;
        height: 29px;
      }
    }
  }
  tbody {
    tr {
      .odd {
        color: #d0d3d8;
      }
    }
  }
  table {
    tr {
      td {
        width: 31px;
        height: 29px;
        span {
          border-radius: 4px;
          width: 42px;
          height: 42px;
          line-height: 42px;
        }
        span.active {
          background-color: #48ba5e !important;
          background-image: none;
          border: none;
          text-shadow: none;
          &:hover {
            background-image: none;
            border: none;
            text-shadow: none;
          }
        }
        span.active.disabled {
          background-image: none;
          border: none;
          text-shadow: none;
          &:hover {
            background-image: none;
            border: none;
            text-shadow: none;
          }
        }
      }
      td.old {
        color: #e6e6e6;
      }
      td.new {
        color: #e6e6e6;
      }
      td.day {
        &:hover {
          background: #f0f0f0;
        }
      }
      td.active {
        background-color: #48ba5e !important;
        background-image: none;
        text-shadow: none;
        font-weight: 600;
        &:hover {
          background-image: none;
          text-shadow: none;
          font-weight: 600;
        }
      }
      td.active.disabled {
        background-image: none;
        text-shadow: none;
        font-weight: 600;
        &:hover {
          background-image: none;
          text-shadow: none;
          font-weight: 600;
        }
      }
      td.today {
        background-color: #f0f0f0;
        background-image: none;
        color: #fff;
        &:hover {
          background-color: #f0f0f0;
          background-image: none;
          color: #fff;
        }
      }
      td.today.disabled {
        background-color: #f0f0f0;
        background-image: none;
        color: #fff;
        &:hover {
          background-color: #f0f0f0;
          background-image: none;
          color: #fff;
        }
      }
    }
  }
}
.datepicker.dropdown-menu {
  border-color: #e6e6e6;
  color: #626262;
}
.datepicker-inline {
  width: auto;
}
.input-daterange {
  .input-group-addon {
    text-shadow: none;
    border: 0;
  }
}
.bootstrap-timepicker-widget {
  table {
    td {
      a {
        i {
          font-size: 12px;
        }
      }
    }
  }
  a.btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
  }
  .bootstrap-timepicker-widget {
    input {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
    }
  }
}
.bootstrap-timepicker-widget.dropdown-menu {
  background: #fff;
}
.daterangepicker {
  background: #fff;
  .calendar {
    .calendar-date {
      border: 1px solid rgba(0, 0, 0, 0.07);
    }
    .prev {
      color: #48ba5e;
      text-transform: uppercase;
      font-size: 11px;
    }
    .next {
      color: #48ba5e;
      text-transform: uppercase;
      font-size: 11px;
    }
    th {
      color: #48ba5e;
      text-transform: uppercase;
      font-size: 11px;
    }
    .month {
      color: #6f7b8a;
      font-size: 13px;
    }
  }
  td.active {
    background-color: #48ba5e;
    border-color: #48ba5e;
    &:hover {
      background-color: #48ba5e;
      border-color: #48ba5e;
    }
  }
}
.form-group-default {
  .select2-container {
    .select2-choice {
      border-color: transparent;
      abbr {
        top: 13px;
      }
    }
  }
  .bootstrap-tagsinput {
    border: 0px;
    padding-left: 0;
  }
  .cs-skin-slide {
    >span {
      padding: 0 30px 0 0;
      height: 22px;
      line-height: 21px;
    }
  }
  .cs-wrapper {
    width: 100%;
  }
}
.select2-container-multi {
  .select2-choices {
    border-color: transparent;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    .select2-search-choice {
      background-color: #e6e6e6;
      background-image: none;
      border: none;
      box-shadow: none;
      color: inherit;
      border-radius: 8px;
      margin: 8px -5px 7px 10px;
      padding: 4px 8px 4px 21px;
    }
  }
  .select2-search-choice-close {
    left: 6px;
  }
}

.select2-container {
  z-index: 4;
  .select2-choice {
    background-image: none;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 5px 9px;
    transition: border 0.2s linear 0s;
    height: 38px;
    .select2-arrow {
      background: transparent;
      border-left: 0px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      b {
        &:before {
          font-family: 'FontAwesome';
          content: "\f0d7";
          position: relative;
          top: 4px;
          right: 5px;
          font-size: 12px;
        }
        background-image: none !important;
      }
    }
    abbr {
      background-image: none !important;
    }
  }
}
.select2-container.select2-drop-above {
  .select2-choice {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }
}
.select2-search {
  input {
    background-image: none !important;
    background: #fff !important;
    vertical-align: baseline;
    line-height: 28px;
    border-radius: 2px;
    border: none;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.07);
  }
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
}
.select2-search-choice-close {
  background-image: none !important;
  background: none;
  top: 4px;
  right: 0;
  &:hover {
    text-decoration: none;
  }
  &:before {
    font-family: 'FontAwesome';
    content: "\f00d";
    font-size: 12px;
    color: #626262;
  }
}
.select2-dropdown-open.select2-drop-above {
  .select2-choice {
    background-image: none !important;
    border: 1px solid rgba(0, 0, 0, 0.07);
    background: #f0f0f0;
  }
  .select2-choices {
    background-image: none !important;
    border: 1px solid rgba(0, 0, 0, 0.07);
    background: #f0f0f0;
  }
}
.select2-dropdown-open {
  .select2-choice {
    .select2-arrow {
      -webkit-transform: scale(scale(1, -1));
      -moz-transform: scale(scale(1, -1));
      -ms-transform: scale(scale(1, -1));
      -o-transform: scale(scale(1, -1));
      transform: scale(scale(1, -1));
    }
  }
}
.select2-drop.select2-drop-above {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: none;
}
.select2-drop.select2-drop-above.select2-drop-active {
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom: none;
  border-radius: 2px;
  padding-top: 0px;
}
.select2-container-active {
  .select2-choice {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.07);
    background: #f0f0f0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  .select2-choices {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.07);
    background: #f0f0f0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}
.select2-results {
  margin: 3px;
  li {
    color: #626262;
    border-bottom: solid 1px #d8d8d8;
    padding: 10px;
  }
  li.select2-result-with-children {
    >.select2-result-label {
      color: #2c2c2c;
      &:first-child {
        padding-top: 8px;
      }
    }
  }
  .select2-highlighted {
    background: #d8d8d8;
    border-radius: 3px;
    .select2-result-label {
      color: #626262;
    }
  }
  .select2-no-results {
    background: none;
    color: #626262;
    font-size: 12px;
    padding-left: 8px;
    padding-top: 0px;
    position: relative;
    top: -5px;
  }
  .select2-searching {
    background: none;
    color: #626262;
    font-size: 12px;
    padding-left: 8px;
    padding-top: 0px;
    position: relative;
    top: -5px;
  }
  .select2-selection-limit {
    background: none;
    color: #626262;
    font-size: 12px;
    padding-left: 8px;
    padding-top: 0px;
    position: relative;
    top: -5px;
  }
}
.select2-drop-active {
  border: none;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  padding-top: 5px;
  z-index: 109;
}
.select2-container-multi.select2-container-active {
  .select2-choices {
    border: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: none;
  }
  .select2-search-choice {
    background-color: #fff !important;
  }
}
.select2-drop-multi {
  .select2-results {
    .select2-no-results {
      top: 0px;
    }
    .select2-searching {
      top: 0px;
    }
    .select2-selection-limit {
      top: 0px;
    }
  }
}
.select2.form-control {
  padding: 0;
  box-shadow: none;
  border: 0;
}
.select2-drop-mask {
  z-index: 700;
}
.select2.select2-container {
  height: 50px;
  width: 100%;
  .select2-selection--single {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    padding-left: 4px;
  }
  .select2-selection {
    height: 50px;
    .select2-selection__rendered {
      line-height: 50px;
    }
    .select2-selection__arrow {
      height: 50px;
      margin-right: 15px;
      width: 30px;
      b {
        border: none;
        border-color: none;
        border-width: 0;
        background: none;
        font-size: 17px;
        color: #d32d27;
        position: absolute;
        margin-top: 5px;
        transition: .3s;
        padding: 0;
        margin: 0;
        top: 15px;
        font-family: "themify";
        &:before {
          content: "\e64b";
        }
      }
    }
  }
}
.select2.select2-container--open {
  .select2-selection {
    .select2-selection__arrow {
      b {
        border: none;
        border-color: none;
        border-width: 0;
        background: none;
        font-size: 17px;
        color: #d32d27;
        position: absolute;
        margin-top: 5px;
        transition: .3s;
        padding: 0;
        margin: 0;
        top: 15px;
        font-family: "themify";
        &:before {
          content: "\e648";
        }
      }
    }
  }
}
.select2-results__options {
  .select2-results__option {
    background: #ffffff;
  }
  .select2-results__option.select2-results__option--highlighted {
    background: #d8d8d8 !important;
    color: #0c2947 !important;
  }
  .select2-results__option[aria-selected=true] {
    background: #0c2947 !important;
    color: #ffffff !important;
  }
}
.ui-select-bootstrap {
  .ui-select-choices-row.active {
    >a {
      background: #f0f0f0;
      border-radius: 3px;
      color: #626262;
    }
  }
  >.ui-select-choices {
    background-color: #fff;
  }
}
.ui-select-choices-group-label {
  color: #2c2c2c;
  font-weight: bold;
}
.modal-open {
  .select2-drop-active {
    z-index: 1051;
  }
  .datepicker.dropdown-menu {
    z-index: 1051 !important;
  }
  .select2-drop-mask {
    z-index: 1050;
  }
  .cs-skin-slide.cs-active {
    z-index: 1050;
  }
}
.dropdown-placeholder {
  display: inline-block;
  vertical-align: middle;
}
.dropdown-mask {
  bottom: 0;
  display: none;
  left: 0;
  outline: 0 none;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
button.btn {
  height: 50px;
  border-radius: 0px;
  line-height: 46px;
  padding: 0 20px;
}
input[type="submit"] {
  height: 50px;
  border-radius: 0px;
  line-height: 46px;
  padding: 0 20px;
}
.form-upload {
  label.btn {
    height: 50px;
    border-radius: 0px;
    line-height: 46px;
    padding: 0 20px;
  }
  label.btn.btn-primary {
    background: #0c2947;
    border-color: #0c2947;
    &:active.focus {
      background: #000;
      border-color: #000;
    }
    &:active {
      &:focus {
        background: #000;
        border-color: #000;
      }
      &:hover {
        background: #000;
        border-color: #000;
      }
    }
    .open {
      >.dropdown-toggle.btn-primary.focus {
        background: #000;
        border-color: #000;
      }
      >.dropdown-toggle.btn-primary {
        &:focus {
          background: #000;
          border-color: #000;
        }
        &:hover {
          background: #000;
          border-color: #000;
        }
      }
    }
  }
  label.btn.btn-primary.active.focus {
    background: #000;
    border-color: #000;
  }
  label.btn.btn-primary.active {
    &:focus {
      background: #000;
      border-color: #000;
    }
    &:hover {
      background: #000;
      border-color: #000;
    }
  }
  label.btn.btn-primary.btn-with-icon {
    .btn-text {
      display: inline-block;
      vertical-align: middle;
    }
    [class^="ti-"] {
      display: inline-block;
      vertical-align: middle;
    }
}
}
label.btn.btn-primary.inverse {
  background: none;
  border: solid 1px #0c2947;
  color: #0c2947;
  &:active.focus {
    background: #F2F2F2;
  }
  &:active {
    &:focus {
      background: #F2F2F2;
    }
    &:hover {
      background: #F2F2F2;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #F2F2F2;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #F2F2F2;
      }
      &:hover {
        background: #F2F2F2;
      }
    }
  }
}
label.btn.btn-primary.inverse.active.focus {
  background: #F2F2F2;
}
label.btn.btn-primary.inverse.active {
  &:focus {
    background: #F2F2F2;
  }
  &:hover {
    background: #F2F2F2;
  }
}
label.btn.btn-secondary {
  background: #EEC043;
  border-color: #EEC043;
  color: #0c2947;
  &:active.focus {
    background: #6b561e;
    border-color: #6b561e;
  }
  &:active {
    &:focus {
      background: #6b561e;
      border-color: #6b561e;
    }
    &:hover {
      background: #6b561e;
      border-color: #6b561e;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #6b561e;
      border-color: #6b561e;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #6b561e;
        border-color: #6b561e;
      }
      &:hover {
        background: #6b561e;
        border-color: #6b561e;
      }
    }
  }
}
label.btn.btn-secondary.active.focus {
  background: #6b561e;
  border-color: #6b561e;
}
label.btn.btn-secondary.active {
  &:focus {
    background: #6b561e;
    border-color: #6b561e;
  }
  &:hover {
    background: #6b561e;
    border-color: #6b561e;
  }
}
label.btn.btn-secondary.btn-with-icon {
  .btn-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
  [class^="ti-"] {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
}

label.btn.btn-secondary.inverse {
  background: none;
  border: solid 1px #EEC043;
  color: #EEC043;
  &:active.focus {
    background: #F2F2F2;
  }
  &:active {
    &:focus {
      background: #F2F2F2;
    }
    &:hover {
      background: #F2F2F2;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #F2F2F2;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #F2F2F2;
      }
      &:hover {
        background: #F2F2F2;
      }
    }
  }
}
label.btn.btn-secondary.inverse.active.focus {
  background: #F2F2F2;
}
label.btn.btn-secondary.inverse.active {
  &:focus {
    background: #F2F2F2;
  }
  &:hover {
    background: #F2F2F2;
  }
}
label.btn.btn-blue {
  background: #a9dcf6;
  border-color: #a9dcf6;
  color: #fff;
  &:active.focus {
    background: #4c636f;
    border-color: #4c636f;
  }
  &:active {
    &:focus {
      background: #4c636f;
      border-color: #4c636f;
    }
    &:hover {
      background: #4c636f;
      border-color: #4c636f;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #4c636f;
      border-color: #4c636f;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #4c636f;
        border-color: #4c636f;
      }
      &:hover {
        background: #4c636f;
        border-color: #4c636f;
      }
    }
  }
}
label.btn.btn-blue.active.focus {
  background: #4c636f;
  border-color: #4c636f;
}
label.btn.btn-blue.active {
  &:focus {
    background: #4c636f;
    border-color: #4c636f;
  }
  &:hover {
    background: #4c636f;
    border-color: #4c636f;
  }
}
label.btn.btn-blue.btn-with-icon {
  .btn-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
  [class^="ti-"] {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
}
label.btn.btn-blue.inverse {
  background: none;
  border: solid 1px #a9dcf6;
  color: #a9dcf6;
  &:active.focus {
    background: #F2F2F2;
  }
  &:active {
    &:focus {
      background: #F2F2F2;
    }
    &:hover {
      background: #F2F2F2;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #F2F2F2;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #F2F2F2;
      }
      &:hover {
        background: #F2F2F2;
      }
    }
  }
}
label.btn.btn-blue.inverse.active.focus {
  background: #F2F2F2;
}
label.btn.btn-blue.inverse.active {
  &:focus {
    background: #F2F2F2;
  }
  &:hover {
    background: #F2F2F2;
  }
}
label.btn.btn-white {
  background: #ffffff;
  border-color: #ffffff;
  color: #fff;
  &:active.focus {
    background: #737373;
    border-color: #737373;
  }
  &:active {
    &:focus {
      background: #737373;
      border-color: #737373;
    }
    &:hover {
      background: #737373;
      border-color: #737373;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #737373;
      border-color: #737373;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #737373;
        border-color: #737373;
      }
      &:hover {
        background: #737373;
        border-color: #737373;
      }
    }
  }
}
label.btn.btn-white.active.focus {
  background: #737373;
  border-color: #737373;
}
label.btn.btn-white.active {
  &:focus {
    background: #737373;
    border-color: #737373;
  }
  &:hover {
    background: #737373;
    border-color: #737373;
  }
}
label.btn.btn-white.btn-with-icon {
  .btn-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
  [class^="ti-"] {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
}
label.btn.btn-white.inverse {
  background: none;
  border: solid 1px #ffffff;
  color: #ffffff;
  &:active.focus {
    background: #F2F2F2;
  }
  &:active {
    &:focus {
      background: #F2F2F2;
    }
    &:hover {
      background: #F2F2F2;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #F2F2F2;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #F2F2F2;
      }
      &:hover {
        background: #F2F2F2;
      }
    }
  }
}
label.btn.btn-white.inverse.active.focus {
  background: #F2F2F2;
}
label.btn.btn-white.inverse.active {
  &:focus {
    background: #F2F2F2;
  }
  &:hover {
    background: #F2F2F2;
  }
}
a.btn {
  height: 50px;
  border-radius: 0px;
  line-height: 46px;
  padding: 0 20px;
}
button.btn.btn-primary {
  background: #0c2947;
  border-color: #0c2947;
  &:active.focus {
    background: #000;
    border-color: #000;
  }
  &:active {
    &:focus {
      background: #000;
      border-color: #000;
    }
    &:hover {
      background: #000;
      border-color: #000;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #000;
      border-color: #000;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #000;
        border-color: #000;
      }
      &:hover {
        background: #000;
        border-color: #000;
      }
    }
  }
}
input[type="submit"].btn-primary {
  background: #0c2947;
  border-color: #0c2947;
  &:active.focus {
    background: #000;
    border-color: #000;
  }
  &:active {
    &:focus {
      background: #000;
      border-color: #000;
    }
    &:hover {
      background: #000;
      border-color: #000;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #000;
      border-color: #000;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #000;
        border-color: #000;
      }
      &:hover {
        background: #000;
        border-color: #000;
      }
    }
  }
}
a.btn.btn-primary {
  background: #0c2947;
  border-color: #0c2947;
  &:active.focus {
    background: #000;
    border-color: #000;
  }
  &:active {
    &:focus {
      background: #000;
      border-color: #000;
    }
    &:hover {
      background: #000;
      border-color: #000;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #000;
      border-color: #000;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #000;
        border-color: #000;
      }
      &:hover {
        background: #000;
        border-color: #000;
      }
    }
  }
}
button.btn.btn-primary.active.focus {
  background: #000;
  border-color: #000;
}
button.btn.btn-primary.active {
  &:focus {
    background: #000;
    border-color: #000;
  }
  &:hover {
    background: #000;
    border-color: #000;
  }
}
input[type="submit"].btn-primary.active.focus {
  background: #000;
  border-color: #000;
}
input[type="submit"].btn-primary.active {
  &:focus {
    background: #000;
    border-color: #000;
  }
  &:hover {
    background: #000;
    border-color: #000;
  }
}
a.btn.btn-primary.active.focus {
  background: #000;
  border-color: #000;
}
a.btn.btn-primary.active {
  &:focus {
    background: #000;
    border-color: #000;
  }
  &:hover {
    background: #000;
    border-color: #000;
  }
}
button.btn.btn-primary.btn-with-icon {
  .btn-text {
    display: inline-block;
    vertical-align: middle;
  }
  [class^="ti-"] {
    display: inline-block;
    vertical-align: middle;
  }
}
input[type="submit"].btn-primary.btn-with-icon {
  .btn-text {
    display: inline-block;
    vertical-align: middle;
  }
  [class^="ti-"] {
    display: inline-block;
    vertical-align: middle;
  }
}
a.btn.btn-primary.btn-with-icon {
  .btn-text {
    display: inline-block;
    vertical-align: middle;
  }
  [class^="ti-"] {
    display: inline-block;
    vertical-align: middle;
  }
}
button.btn.btn-primary.inverse {
  background: none;
  border: solid 1px #0c2947;
  color: #0c2947;
  &:active.focus {
    background: #F2F2F2;
  }
  &:active {
    &:focus {
      background: #F2F2F2;
    }
    &:hover {
      background: #F2F2F2;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #F2F2F2;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #F2F2F2;
      }
      &:hover {
        background: #F2F2F2;
      }
    }
  }
}
input[type="submit"].btn-primary.inverse {
  background: none;
  border: solid 1px #0c2947;
  color: #0c2947;
  &:active.focus {
    background: #F2F2F2;
  }
  &:active {
    &:focus {
      background: #F2F2F2;
    }
    &:hover {
      background: #F2F2F2;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #F2F2F2;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #F2F2F2;
      }
      &:hover {
        background: #F2F2F2;
      }
    }
  }
}
a.btn.btn-primary.inverse {
  background: none;
  border: solid 1px #0c2947;
  color: #0c2947;
  &:active.focus {
    background: #F2F2F2;
  }
  &:active {
    &:focus {
      background: #F2F2F2;
    }
    &:hover {
      background: #F2F2F2;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #F2F2F2;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #F2F2F2;
      }
      &:hover {
        background: #F2F2F2;
      }
    }
  }
}
button.btn.btn-primary.inverse.active.focus {
  background: #F2F2F2;
}
button.btn.btn-primary.inverse.active {
  &:focus {
    background: #F2F2F2;
  }
  &:hover {
    background: #F2F2F2;
  }
}
input[type="submit"].btn-primary.inverse.active.focus {
  background: #F2F2F2;
}
input[type="submit"].btn-primary.inverse.active {
  &:focus {
    background: #F2F2F2;
  }
  &:hover {
    background: #F2F2F2;
  }
}
a.btn.btn-primary.inverse.active.focus {
  background: #F2F2F2;
}
a.btn.btn-primary.inverse.active {
  &:focus {
    background: #F2F2F2;
  }
  &:hover {
    background: #F2F2F2;
  }
}
button.btn.btn-secondary {
  background: #EEC043;
  border-color: #EEC043;
  color: #0c2947;
  &:active.focus {
    background: #6b561e;
    border-color: #6b561e;
  }
  &:active {
    &:focus {
      background: #6b561e;
      border-color: #6b561e;
    }
    &:hover {
      background: #6b561e;
      border-color: #6b561e;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #6b561e;
      border-color: #6b561e;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #6b561e;
        border-color: #6b561e;
      }
      &:hover {
        background: #6b561e;
        border-color: #6b561e;
      }
    }
  }
}
input[type="submit"].btn-secondary {
  background: #EEC043;
  border-color: #EEC043;
  color: #0c2947;
  &:active.focus {
    background: #6b561e;
    border-color: #6b561e;
  }
  &:active {
    &:focus {
      background: #6b561e;
      border-color: #6b561e;
    }
    &:hover {
      background: #6b561e;
      border-color: #6b561e;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #6b561e;
      border-color: #6b561e;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #6b561e;
        border-color: #6b561e;
      }
      &:hover {
        background: #6b561e;
        border-color: #6b561e;
      }
    }
  }
}
a.btn.btn-secondary {
  background: #EEC043;
  border-color: #EEC043;
  color: #0c2947;
  &:active.focus {
    background: #6b561e;
    border-color: #6b561e;
  }
  &:active {
    &:focus {
      background: #6b561e;
      border-color: #6b561e;
    }
    &:hover {
      background: #6b561e;
      border-color: #6b561e;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #6b561e;
      border-color: #6b561e;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #6b561e;
        border-color: #6b561e;
      }
      &:hover {
        background: #6b561e;
        border-color: #6b561e;
      }
    }
  }
}
button.btn.btn-secondary.active.focus {
  background: #6b561e;
  border-color: #6b561e;
}
button.btn.btn-secondary.active {
  &:focus {
    background: #6b561e;
    border-color: #6b561e;
  }
  &:hover {
    background: #6b561e;
    border-color: #6b561e;
  }
}
input[type="submit"].btn-secondary.active.focus {
  background: #6b561e;
  border-color: #6b561e;
}
input[type="submit"].btn-secondary.active {
  &:focus {
    background: #6b561e;
    border-color: #6b561e;
  }
  &:hover {
    background: #6b561e;
    border-color: #6b561e;
  }
}
a.btn.btn-secondary.active.focus {
  background: #6b561e;
  border-color: #6b561e;
}
a.btn.btn-secondary.active {
  &:focus {
    background: #6b561e;
    border-color: #6b561e;
  }
  &:hover {
    background: #6b561e;
    border-color: #6b561e;
  }
}
button.btn.btn-secondary.btn-with-icon {
  .btn-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
  [class^="ti-"] {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
}
input[type="submit"].btn-secondary.btn-with-icon {
  .btn-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
  [class^="ti-"] {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
}
a.btn.btn-secondary.btn-with-icon {
  .btn-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
  [class^="ti-"] {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
}
button.btn.btn-secondary.inverse {
  background: none;
  border: solid 1px #EEC043;
  color: #EEC043;
  &:active.focus {
    background: #F2F2F2;
  }
  &:active {
    &:focus {
      background: #F2F2F2;
    }
    &:hover {
      background: #F2F2F2;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #F2F2F2;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #F2F2F2;
      }
      &:hover {
        background: #F2F2F2;
      }
    }
  }
}
input[type="submit"].btn-secondary.inverse {
  background: none;
  border: solid 1px #EEC043;
  color: #EEC043;
  &:active.focus {
    background: #F2F2F2;
  }
  &:active {
    &:focus {
      background: #F2F2F2;
    }
    &:hover {
      background: #F2F2F2;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #F2F2F2;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #F2F2F2;
      }
      &:hover {
        background: #F2F2F2;
      }
    }
  }
}
a.btn.btn-secondary.inverse {
  background: none;
  border: solid 1px #EEC043;
  color: #EEC043;
  &:active.focus {
    background: #F2F2F2;
  }
  &:active {
    &:focus {
      background: #F2F2F2;
    }
    &:hover {
      background: #F2F2F2;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #F2F2F2;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #F2F2F2;
      }
      &:hover {
        background: #F2F2F2;
      }
    }
  }
}
button.btn.btn-secondary.inverse.active.focus {
  background: #F2F2F2;
}
button.btn.btn-secondary.inverse.active {
  &:focus {
    background: #F2F2F2;
  }
  &:hover {
    background: #F2F2F2;
  }
}
input[type="submit"].btn-secondary.inverse.active.focus {
  background: #F2F2F2;
}
input[type="submit"].btn-secondary.inverse.active {
  &:focus {
    background: #F2F2F2;
  }
  &:hover {
    background: #F2F2F2;
  }
}
a.btn.btn-secondary.inverse.active.focus {
  background: #F2F2F2;
}
a.btn.btn-secondary.inverse.active {
  &:focus {
    background: #F2F2F2;
  }
  &:hover {
    background: #F2F2F2;
  }
}
button.btn.btn-blue {
  background: #a9dcf6;
  border-color: #a9dcf6;
  color: #fff;
  &:active.focus {
    background: #4c636f;
    border-color: #4c636f;
  }
  &:active {
    &:focus {
      background: #4c636f;
      border-color: #4c636f;
    }
    &:hover {
      background: #4c636f;
      border-color: #4c636f;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #4c636f;
      border-color: #4c636f;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #4c636f;
        border-color: #4c636f;
      }
      &:hover {
        background: #4c636f;
        border-color: #4c636f;
      }
    }
  }
}
input[type="submit"].btn-blue {
  background: #a9dcf6;
  border-color: #a9dcf6;
  color: #fff;
  &:active.focus {
    background: #4c636f;
    border-color: #4c636f;
  }
  &:active {
    &:focus {
      background: #4c636f;
      border-color: #4c636f;
    }
    &:hover {
      background: #4c636f;
      border-color: #4c636f;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #4c636f;
      border-color: #4c636f;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #4c636f;
        border-color: #4c636f;
      }
      &:hover {
        background: #4c636f;
        border-color: #4c636f;
      }
    }
  }
}
a.btn.btn-blue {
  background: #a9dcf6;
  border-color: #a9dcf6;
  color: #fff;
  &:active.focus {
    background: #4c636f;
    border-color: #4c636f;
  }
  &:active {
    &:focus {
      background: #4c636f;
      border-color: #4c636f;
    }
    &:hover {
      background: #4c636f;
      border-color: #4c636f;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #4c636f;
      border-color: #4c636f;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #4c636f;
        border-color: #4c636f;
      }
      &:hover {
        background: #4c636f;
        border-color: #4c636f;
      }
    }
  }
}
button.btn.btn-blue.active.focus {
  background: #4c636f;
  border-color: #4c636f;
}
button.btn.btn-blue.active {
  &:focus {
    background: #4c636f;
    border-color: #4c636f;
  }
  &:hover {
    background: #4c636f;
    border-color: #4c636f;
  }
}
input[type="submit"].btn-blue.active.focus {
  background: #4c636f;
  border-color: #4c636f;
}
input[type="submit"].btn-blue.active {
  &:focus {
    background: #4c636f;
    border-color: #4c636f;
  }
  &:hover {
    background: #4c636f;
    border-color: #4c636f;
  }
}
a.btn.btn-blue.active.focus {
  background: #4c636f;
  border-color: #4c636f;
}
a.btn.btn-blue.active {
  &:focus {
    background: #4c636f;
    border-color: #4c636f;
  }
  &:hover {
    background: #4c636f;
    border-color: #4c636f;
  }
}
button.btn.btn-blue.btn-with-icon {
  .btn-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
  [class^="ti-"] {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
}
input[type="submit"].btn-blue.btn-with-icon {
  .btn-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
  [class^="ti-"] {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
}
a.btn.btn-blue.btn-with-icon {
  .btn-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
  [class^="ti-"] {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
}
button.btn.btn-blue.inverse {
  background: none;
  border: solid 1px #a9dcf6;
  color: #a9dcf6;
  &:active.focus {
    background: #F2F2F2;
  }
  &:active {
    &:focus {
      background: #F2F2F2;
    }
    &:hover {
      background: #F2F2F2;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #F2F2F2;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #F2F2F2;
      }
      &:hover {
        background: #F2F2F2;
      }
    }
  }
}
input[type="submit"].btn-blue.inverse {
  background: none;
  border: solid 1px #a9dcf6;
  color: #a9dcf6;
  &:active.focus {
    background: #F2F2F2;
  }
  &:active {
    &:focus {
      background: #F2F2F2;
    }
    &:hover {
      background: #F2F2F2;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #F2F2F2;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #F2F2F2;
      }
      &:hover {
        background: #F2F2F2;
      }
    }
  }
}
a.btn.btn-blue.inverse {
  background: none;
  border: solid 1px #a9dcf6;
  color: #a9dcf6;
  &:active.focus {
    background: #F2F2F2;
  }
  &:active {
    &:focus {
      background: #F2F2F2;
    }
    &:hover {
      background: #F2F2F2;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #F2F2F2;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #F2F2F2;
      }
      &:hover {
        background: #F2F2F2;
      }
    }
  }
}
button.btn.btn-blue.inverse.active.focus {
  background: #F2F2F2;
}
button.btn.btn-blue.inverse.active {
  &:focus {
    background: #F2F2F2;
  }
  &:hover {
    background: #F2F2F2;
  }
}
input[type="submit"].btn-blue.inverse.active.focus {
  background: #F2F2F2;
}
input[type="submit"].btn-blue.inverse.active {
  &:focus {
    background: #F2F2F2;
  }
  &:hover {
    background: #F2F2F2;
  }
}
a.btn.btn-blue.inverse.active.focus {
  background: #F2F2F2;
}
a.btn.btn-blue.inverse.active {
  &:focus {
    background: #F2F2F2;
  }
  &:hover {
    background: #F2F2F2;
  }
}
button.btn.btn-white {
  background: #ffffff;
  border-color: #ffffff;
  color: #fff;
  &:active.focus {
    background: #737373;
    border-color: #737373;
  }
  &:active {
    &:focus {
      background: #737373;
      border-color: #737373;
    }
    &:hover {
      background: #737373;
      border-color: #737373;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #737373;
      border-color: #737373;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #737373;
        border-color: #737373;
      }
      &:hover {
        background: #737373;
        border-color: #737373;
      }
    }
  }
}
input[type="submit"].btn-white {
  background: #ffffff;
  border-color: #ffffff;
  color: #fff;
  &:active.focus {
    background: #737373;
    border-color: #737373;
  }
  &:active {
    &:focus {
      background: #737373;
      border-color: #737373;
    }
    &:hover {
      background: #737373;
      border-color: #737373;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #737373;
      border-color: #737373;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #737373;
        border-color: #737373;
      }
      &:hover {
        background: #737373;
        border-color: #737373;
      }
    }
  }
}
a.btn.btn-white {
  background: #ffffff;
  border-color: #ffffff;
  color: #fff;
  &:active.focus {
    background: #737373;
    border-color: #737373;
  }
  &:active {
    &:focus {
      background: #737373;
      border-color: #737373;
    }
    &:hover {
      background: #737373;
      border-color: #737373;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #737373;
      border-color: #737373;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #737373;
        border-color: #737373;
      }
      &:hover {
        background: #737373;
        border-color: #737373;
      }
    }
  }
}
button.btn.btn-white.active.focus {
  background: #737373;
  border-color: #737373;
}
button.btn.btn-white.active {
  &:focus {
    background: #737373;
    border-color: #737373;
  }
  &:hover {
    background: #737373;
    border-color: #737373;
  }
}
input[type="submit"].btn-white.active.focus {
  background: #737373;
  border-color: #737373;
}
input[type="submit"].btn-white.active {
  &:focus {
    background: #737373;
    border-color: #737373;
  }
  &:hover {
    background: #737373;
    border-color: #737373;
  }
}
a.btn.btn-white.active.focus {
  background: #737373;
  border-color: #737373;
}
a.btn.btn-white.active {
  &:focus {
    background: #737373;
    border-color: #737373;
  }
  &:hover {
    background: #737373;
    border-color: #737373;
  }
}
button.btn.btn-white.btn-with-icon {
  .btn-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
  [class^="ti-"] {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
}
input[type="submit"].btn-white.btn-with-icon {
  .btn-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
  [class^="ti-"] {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
}
a.btn.btn-white.btn-with-icon {
  .btn-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
  [class^="ti-"] {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
  }
}
button.btn.btn-white.inverse {
  background: none;
  border: solid 1px #ffffff;
  color: #ffffff;
  &:active.focus {
    background: #F2F2F2;
  }
  &:active {
    &:focus {
      background: #F2F2F2;
    }
    &:hover {
      background: #F2F2F2;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #F2F2F2;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #F2F2F2;
      }
      &:hover {
        background: #F2F2F2;
      }
    }
  }
}
input[type="submit"].btn-white.inverse {
  background: none;
  border: solid 1px #ffffff;
  color: #ffffff;
  &:active.focus {
    background: #F2F2F2;
  }
  &:active {
    &:focus {
      background: #F2F2F2;
    }
    &:hover {
      background: #F2F2F2;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #F2F2F2;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #F2F2F2;
      }
      &:hover {
        background: #F2F2F2;
      }
    }
  }
}
a.btn.btn-white.inverse {
  background: none;
  border: solid 1px #ffffff;
  color: #ffffff;
  &:active.focus {
    background: #F2F2F2;
  }
  &:active {
    &:focus {
      background: #F2F2F2;
    }
    &:hover {
      background: #F2F2F2;
    }
  }
  .open {
    >.dropdown-toggle.btn-primary.focus {
      background: #F2F2F2;
    }
    >.dropdown-toggle.btn-primary {
      &:focus {
        background: #F2F2F2;
      }
      &:hover {
        background: #F2F2F2;
      }
    }
  }
}
button.btn.btn-white.inverse.active.focus {
  background: #F2F2F2;
}
button.btn.btn-white.inverse.active {
  &:focus {
    background: #F2F2F2;
  }
  &:hover {
    background: #F2F2F2;
  }
}
input[type="submit"].btn-white.inverse.active.focus {
  background: #F2F2F2;
}
input[type="submit"].btn-white.inverse.active {
  &:focus {
    background: #F2F2F2;
  }
  &:hover {
    background: #F2F2F2;
  }
}
a.btn.btn-white.inverse.active.focus {
  background: #F2F2F2;
}
a.btn.btn-white.inverse.active {
  &:focus {
    background: #F2F2F2;
  }
  &:hover {
    background: #F2F2F2;
  }
}
.btn-group-lg {
  >.btn {
    padding: 7px 16px;
  }
}
.btn-lg {
  padding: 7px 16px;
}
.bootstrap-tagsinput {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  padding-bottom: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  -webkit-transition: background 0.2s linear 0s;
  -moz-transition: background 0.2s linear 0s;
  -o-transition: background 0.2s linear 0s;
  transition: background 0.2s linear 0s;
  input {
    border: none;
    margin-bottom: 0px;
    min-height: 25px;
    min-width: 10em !important;
  }
  .tag {
    vertical-align: middle;
    padding: 6px 9px;
    padding-right: 6px;
    border-radius: 3px;
    line-height: 30px;
    [data-role="remove"] {
      &:hover {
        box-shadow: none;
      }
      &:after {
        font-family: 'pages-icon';
        content: "\e60a";
        padding: 0;
      }
    }
  }
  .tag[data-role="remove"] {
    margin-left: 4px;
    &:hover {
      &:active {
        box-shadow: none;
      }
    }
  }
}
.bootstrap-tagsinput.active-element {
  background-color: #e6e6e6;
}
.wysiwyg5-wrapper {
  position: relative;
  .wysihtml5-toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f0f0f0;
    border-top: 1px solid #e6e6e6;
    .btn {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
      border-color: transparent;
      border-right-color: #e6e6e6;
      color: #A5A5A5;
      font-size: 16px;
      font-weight: 600;
      height: 50px;
      line-height: 50px;
      padding: 0 5px;
      border-width: 1px;
      border-radius: 0 !important;
      box-shadow: none !important;
      &:hover {
        .editor-icon {
          opacity: .8;
        }
      }
    }
    .btn.active {
      .editor-icon {
        opacity: 1;
      }
    }
    .btn.dropdown-toggle {
      padding-left: 10px;
      padding-right: 20px;
      .current-font {
        opacity: .5;
        font-size: 14px;
      }
    }
    >li {
      margin: 0;
      padding: 0;
    }
  }
  .wysiwyg {
    width: 100%;
    min-height: 200px;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 50px !important;
    border: 0;
    &:focus {
      background-color: #fafafa;
      outline: 0 !important;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  .expand-wysiwyg {
    bottom: 0;
    color: #A5A5A5;
    font-size: 20px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    position: absolute;
    right: 0;
  }
  .wysihtml5-sandbox {
    border: none !important;
    padding: 16px 16px 50px !important;
    width: 100% !important;
  }
  .wysihtml5-sandbox.expanded {
    height: 100% !important;
  }
}
.toggle-wysiwyg {
  position: absolute;
  right: 15px;
  top: 0;
  li {
    display: inline-block;
    font-weight: 600;
  }
}
.editor-icon {
  background-image: url("../img/editor_tray.png");
  display: inline-block;
  height: 40px;
  margin-top: 5px;
  opacity: 0.4;
  vertical-align: top;
  width: 40px;
}
.editor-icon-headline {
  background-position: 0 0;
  width: 31px;
}
.editor-icon-bold {
  background-position: -40px 0;
}
.editor-icon-italic {
  background-position: -80px 0;
}
.editor-icon-underline {
  background-position: -120px 0;
}
.editor-icon-link {
  background-position: -160px 0;
}
.editor-icon-quote {
  background-position: -200px 0;
}
.editor-icon-ul {
  background-position: -240px 0;
}
.editor-icon-ol {
  background-position: -280px 0;
}
.editor-icon-outdent {
  background-position: -320px 0;
}
.editor-icon-indent {
  background-position: -360px 0;
}
.editor-icon-image {
  background-position: -400px 0;
}
.editor-icon-html {
  background-position: -440px 0;
}
.summernote-wrapper {
  .note-editor {
    border-color: #e6e6e6;
    .note-toolbar {
      padding: 0;
      background-color: #f0f0f0;
      border-bottom: none;
      .btn-group {
        margin: 0 -1px 0 0;
        .btn {
          font-size: 12px;
          font-weight: 600;
          height: 50px;
          min-width: 47px;
          line-height: 50px;
          padding: 0 5px;
          border-radius: 0;
          background-color: #f0f0f0;
          border-color: transparent;
          border-right-color: #e6e6e6;
          border-bottom-color: #e6e6e6;
          color: #626262;
          &:active {
            background-color: #e6e6e6;
          }
          &:not(:last-child) {
            margin-right: 1px;
          }
          &:not(:only-child) {
            margin-right: 1px;
          }
        }
        .btn.active {
          background-color: #e6e6e6;
        }
        .btn.dropdown-toggle {
          min-width: 61px;
        }
      }
    }
    .note-statusbar {
      background-color: transparent;
      .note-resizebar {
        border-top-color: transparent;
        .note-icon-bar {
          border-top: 1px solid #e6e6e6;
        }
      }
    }
  }
  .note-popover {
    .popover {
      .popover-content {
        .dropdown-menu {
          li {
            a {
              i {
                color: #48ba5e;
              }
            }
          }
        }
      }
    }
  }
  .note-toolbar {
    .dropdown-menu {
      li {
        a {
          i {
            color: #48ba5e;
          }
        }
      }
    }
  }
}
input.error {
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #F9E9E9 inset !important;
    &:focus {
      -webkit-box-shadow: 0 0 0 1000px #F9E9E9 inset !important;
    }
  }
}
div.cs-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: #fff;
  width: 100%;
  max-width: 500px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:focus {
    outline: none;
  }
}
.cs-select {
  select {
    display: none;
  }
  span {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: initial;
  }
  >span {
    padding-right: 3em;
    &::after {
      speak: none;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\25BE';
      right: 1em;
    }
  }
  .cs-selected {
    span {
      &::after {
        speak: none;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\2713';
        margin-left: 1em;
      }
    }
  }
  .cs-options {
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    visibility: hidden;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    span {
      padding: 1em;
    }
    li.cs-focus {
      span {
        background-color: #ddd;
      }
    }
  }
  li.cs-optgroup {
    ul {
      padding-left: 1em;
    }
    >span {
      cursor: default;
    }
  }
  background-color: transparent;
  .cs-placeholder {
    width: 100%;
  }
}
.cs-select.cs-active {
  >span {
    &::after {
      -webkit-transform: translateY(-50%) rotate(180deg);
      transform: translateY(-50%) rotate(180deg);
    }
  }
  .cs-options {
    visibility: visible;
  }
}
div.cs-skin-slide {
  color: #fff;
  width: 300px;
  width: auto;
  font-family: Arial,sans-serif;
  color: #5e5e5e;
  &::before {
    content: '';
    background: #282b30;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }
  &:before {
    background-color: transparent;
  }
  >span {
    height: 35px;
    padding: 6px 33px 6px 17px;
    line-height: 23px;
    z-index: 1;
    &:after {
      content: "\f0d7";
      font-family: FontAwesome;
      color: #5e5e5e;
    }
  }
  .cs-options {
    height: auto;
    padding: 9px 0;
    width: auto;
    padding: 10px;
    max-height: 350px;
    transform: translate3d(1, 1, 1);
    overflow: hidden;
    z-index: 1;
    ul {
      width: 100%;
      display: table;
      li {
        display: table-row;
        span {
          display: table-cell;
          font-size: 14px;
          font-weight: normal;
          letter-spacing: normal;
          padding: 5px 0;
          text-transform: none;
          max-height: 350px;
          overflow-y: auto;
          &:hover {
            color: #2c2c2c;
          }
        }
      }
      li.cs-focus {
        span {
          color: #2c2c2c;
        }
      }
      li.cs-selected {
        span {
          color: #2c2c2c;
        }
      }
    }
  }
}
.cs-skin-slide.cs-active {
  &::before {
    -webkit-transform: scale3d(1.1, 3.5, 1);
    transform: scale3d(1.1, 3.5, 1);
  }
  >span {
    text-indent: -290px;
    opacity: 0;
    &::after {
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
    }
  }
  .cs-options {
    li {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
      &:first-child {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
      }
      &:nth-child(2) {
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
      }
      &:nth-child(3) {
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
      }
      &:nth-child(4) {
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
      }
      &:nth-child(5) {
        -webkit-transition-delay: 0.25s;
        transition-delay: 0.25s;
      }
      &:nth-child(6) {
        transition-delay: 0.3s;
      }
      &:nth-child(7) {
        transition-delay: 0.35s;
      }
      &:nth-child(8) {
        transition-delay: 0.4s;
      }
      &:nth-child(9) {
        transition-delay: 0.45s;
      }
      &:nth-child(10) {
        transition-delay: 0.5s;
      }
      &:nth-child(11) {
        transition-delay: 0.55s;
      }
    }
  }
}
.cs-skin-slide {
  >span {
    height: 80px;
    line-height: 32px;
    -webkit-transition: text-indent 0.3s, opacity 0.3s;
    transition: text-indent 0.3s, opacity 0.3s;
  }
  .cs-options {
    background: transparent;
    width: 70%;
    height: 400%;
    padding: 1.9em 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    li {
      opacity: 0;
      -webkit-transform: translate3d(30%, 0, 0);
      transform: translate3d(30%, 0, 0);
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;
      span {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 65%;
        padding: 0.8em 1em 0.8em 2.5em;
        &:hover {
          color: #eb7e7f;
          background: transparent;
        }
      }
    }
    li.cs-focus {
      span {
        color: #eb7e7f;
        background: transparent;
      }
    }
    li.cs-selected {
      span {
        color: #eb7e7f;
        background: transparent;
      }
    }
  }
  .cs-selected {
    span {
      &::after {
        content: '';
      }
    }
  }
}
.cs-wrapper {
  display: inline-block;
}
.form-control.cs-select {
  &:not(.cs-active) {
    width: 100% !important;
  }
}
div.cs-skin-slide.cs-transparent {
  background: none;
  .cs-backdrop {
    border-color: transparent;
    background: none;
  }
}
div.cs-skin-slide.cs-transparent.cs-active {
  .cs-backdrop {
    background: #fafafa;
  }
}
div.cs-skin-slide.cs-active {
  z-index: 89;
  &:before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  .cs-backdrop {
    border: transparent;
    background: #fafafa;
    box-shadow: -1px 0 1px #ccc, 1px 0 1px #ccc;
  }
  >span {
    &:after {
      content: "\f0d7";
      font-family: FontAwesome;
      color: #5e5e5e;
    }
  }
}
.cs-backdrop {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid rgba(0, 0, 0, 0.07);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.dropzone[dropzone="dropzone"] {
  input[type="file"] {
    visibility: hidden;
  }
}
.demo-form-wysiwyg {
  height: 250px;
}
.dark-background {
  .select2.select2-container {
    background: #0c2947;
    color: #fff;
  }
  .select2-container--default {
    .select2-selection--single {
      background: #0c2947;
      color: #fff;
      border-color: #fff;
      .select2-selection__rendered {
        color: #fff;
      }
      .select2-selection__arrow {
        color: #fff;
        b {
          color: #fff;
        }
      }
    }
  }
  .form-control {
    background-color: #0c2947;
    border-color: #fff;
    color: #fff;
  }
  .checkbox {
    input[type=checkbox] {
      &:checked {
        + {
          label {
            &::after {
              font-family: 'themify';
              content: "\e64c";
              color: #fff;
              padding-top: 8px;
            }
          }
        }
      }
    }
    color: #fff;
    display: block;
    float: left;
    input[type="checkbox"] {
      &:focus {
        + {
          label {
            &:before {
              background: none;
            }
          }
        }
      }
      &:active {
        + {
          label {
            &:before {
              background: none;
            }
          }
        }
      }
      &:hover {
        + {
          label {
            &:before {
              background: none;
            }
          }
        }
      }
      &:visited {
        + {
          label {
            &:before {
              background: none;
            }
          }
        }
      }
    }
    label {
      color: #fff !important;
      padding-left: 50px !important;
      padding-top: 12px;
      &:before {
        background-color: #0c2947;
        width: 40px;
        height: 40px;
        border: none;
      }
      &:after {
        background-color: #0c2947;
        border-radius: 0px;
        width: 40px;
        height: 40px;
        border-color: #fff;
      }
    }
  }
}
.select2-dropdown.darkSelect {
  background-color: #0c2947;
  .select2-results {
    margin: 0;
  }
  .select2-results__option--highlighted[aria-selected] {
    background-color: #929fac !important;
    color: #fff;
  }
  .select2-results__option.select2-results__option--highlighted {
    background-color: #183450 !important;
    color: #fff !important;
  }
  .select2-results__option {
    background-color: #f0f0f0;
    color: $bgColor;
  }
}

@media (max-width: 767px) {
  .form-group-attached {
    .form-group-default {
      border-right-color: rgba(0, 0, 0, 0.07) !important;
    }
  }
}
@media only screen and (min-width: 768px) {
  .form-group-attached {
    >div.row {
      >[class*='col-'] {
        .form-group {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 30em) {
  div.cs-skin-slide {
    font-size: 1em;
    width: 250px;
  }
  .cs-skin-slide {
    >span {
      height: 60px;
      line-height: 28px;
    }
    .cs-options {
      padding-top: 3em;
    }
  }
}



.form-group {
  label {
    margin-bottom: 5px;
  }
  >.btn {
    margin-top: 27px;
  }
  input.form-control {
    height: 40px;
  }
}
.checkbox, .dark-background .checkbox {
  input[type=checkbox] {
    &:checked {
      + {
        label {
          &::after {
            padding-top: 4px;
          }
        }
      }
    }
  }
  label {
    padding-left: 40px !important;
    padding-top: 8px;
    &:before {
      width: 30px;
      height: 30px;
    }
    &:after {
      width: 30px;
      height: 30px;
    }
  }
}
.select2.select2-container, .dark-background .select2.select2-container {
  height: 40px;
  .select2-selection {
    height: 40px;
    .select2-selection__rendered {
      line-height: 40px;
    }
    .select2-selection__arrow {
      height: 40px;
      b {
        top: 6px;
      }
    }
  }
}

.select2.select2-container--open, .dark-background .select2.select2-container--open {
  .select2-selection {
    .select2-selection__arrow {
      b {
        top: 6px;
      }
    }
  }
}

button.btn {
  height: 40px;
  line-height: 36px;
}
input[type="submit"] {
  height: 40px;
  line-height: 36px;
}


.select2-dropdown {
  .select2-results__option {
    line-height: 1.2;
  }
}