
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}

// Webkit-style focus
@mixin tab-focus() {
  // Default
  outline: thin dotted #000;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Center-align a block level element
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Sizing shortcuts
@mixin size($width, $height) {
  width: $width;
  height: $height;
}
@mixin square($size) {
  @include size($size, $size);
}

// Placeholder text
@mixin placeholder($color: $input-color-placeholder) {
  &:-moz-placeholder            { color: $color; } // Firefox 4-18
  &::-moz-placeholder           { color: $color; opacity: 1; } // Firefox 19+
  &:-ms-input-placeholder       { color: $color; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: $color; } // Safari and Chrome
  &.placeholder       					{ color: $color; } // Fallback
}

// Placeholder text
@mixin selected($color, $background) {
  &::selection {
    background: $background; /* Safari */
    color: $color;
  }
  &::-moz-selection {
    background: $background; /* Safari */
    color: $color;
  }
}

@mixin placeholder-height($height) {
  &:-moz-placeholder {
    line-height: $height;
  }
  &::-webkit-input-placeholder {
    line-height: $height;
  }
  &.placeholder {
    line-height: $height;
  }
}

/// Line Height
@mixin line-height($heightValue: 12 ){
  line-height: $heightValue + px; //fallback for old browsers
  line-height: (0.125 * $heightValue) + rem;
}

/// Font Size
@mixin font-size($sizeValue: 12 ){
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: (0.125 * $sizeValue) + rem;
}

// Text overflow
// Requires inline-block or block for proper styling
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// CSS image replacement
@mixin text-hide() {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

@mixin invisible() {
  visibility:hidden;
}
// CSS3 PROPERTIES
// --------------------------------------------------

@mixin mask($arguments) {
  -webkit-mask: $arguments;
  mask: $arguments;
}
@mixin box_scale($scale) {
  -webkit-transform: scale($scale);
  -ms-transform: scale($scale);
  -moz-transform: scale($scale);
  transform: scale($scale);
}
// Single side border-radius
@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
// Drop shadows
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin animation($properties) {
  -webkit-animation: $properties;
  -moz-animation: $properties;
  -o-animation: $properties;
  animation: $properties;
}

@mixin animation-delay($time) {
  -webkit-animation-delay: $time;
  -moz-animation-delay: $time;
  -o-animation-delay: $time;
  animation-delay: $time;
}

// Transitions
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin transition($transition...) {
  -webkit-transition: ($transition);
  -moz-transition: ($transition);
  -o-transition: ($transition);
  transition: ($transition);
}
@mixin transition-property($transition-property) {
  -webkit-transition-property: $transition-property;
  transition-property: $transition-property;
}
@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
  transition-delay: $transition-delay;
}
@mixin transition-duration($transition-duration) {
  -webkit-transition-duration: $transition-duration;
  transition-duration: $transition-duration;
}
@mixin transition-transform($transition) {
  -webkit-transition: -webkit-transform $transition;
  -moz-transition: -moz-transform $transition;
  -o-transition: -o-transform $transition;
  transition: transform $transition;
}

// Transformations
@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -ms-transform: rotate($degrees); // IE9+
  transform: rotate($degrees);
}
@mixin scale($ratio) {
  -webkit-transform: scale($ratio);
  -moz-transform: scale($ratio);
  -ms-transform: scale($ratio); // IE9+
  -o-transform: scale($ratio);
  transform: scale($ratio);
}
@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y); // IE9+
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}
@mixin translateY($y) {
  -webkit-transform: translateY($y);
  -moz-transform: translateY($y);
  -ms-transform: translateY($y); // IE9+
  -o-transform: translateY($y);
  transform: translateY($y);
}
@mixin translateX($x) {
  -webkit-transform: translateX($x);
  -moz-transform: translateX($x);
  -ms-transform: translateX($x); // IE9+
  -o-transform: translateX($x);
  transform: translateX($x);
}
@mixin translateZ($z) {
  -webkit-transform: translateZ($z);
  -moz-transform: translateZ($z);
  -ms-transform: translateZ($z); // IE9+
  -o-transform: translateZ($z);
  transform: translateZ($z);
}
@mixin skew($x, $y) {
  -webkit-transform: skew($x, $y);
  -ms-transform: skewX($x) skewY($y); // See https://github.com/twbs/bootstrap/issues/4885; IE9+
  transform: skew($x, $y);
}
@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
  -ms-transform:translate($x, $y);
}

@mixin rotateX($degrees) {
  -webkit-transform: rotateX($degrees);
  -ms-transform: rotateX($degrees); // IE9+
  transform: rotateX($degrees);
}
@mixin rotateY($degrees) {
  -webkit-transform: rotateY($degrees);
  -ms-transform: rotateY($degrees); // IE9+
  transform: rotateY($degrees);
}
@mixin perspective($perspective) {
  -webkit-perspective: $perspective;
  -moz-perspective: $perspective;
  perspective: $perspective;
}
@mixin perspective-origin($perspective) {
  -webkit-perspective-origin: $perspective;
  -moz-perspective-origin: $perspective;
  perspective-origin: $perspective;
}
@mixin transform-origin($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  transform-origin: $origin;
}
@mixin transform-style($style) {
  -webkit-transform-style: $style;
  -moz-transform-style: $style;
  transform-style: $style;
}
@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value; // IE9+
  -o-transform: $value;
  transform: $value;
}

// Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden`
// See git pull https://github.com/dannykeane/bootstrap.git backface-visibility for examples
@mixin backface-visibility($visibility) {
  -webkit-backface-visibility: $visibility;
  -moz-backface-visibility: $visibility;
  -ms-backface-visibility: $visibility;
  -o-backface-visibility: $visibility;
  backface-visibility: $visibility;
}

// Background clip
@mixin background-clip($clip: border-box) {
  -webkit-background-clip: $clip;
  -moz-background-clip: $clip;
  background-clip: $clip;
}

// Box sizing
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
  -moz-box-sizing: $boxmodel;
  box-sizing: $boxmodel;
}

// User select
// For selecting text on the page
@mixin user-select($select) {
  -webkit-user-select: $select;
  -khtml-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select; // IE10+
  -o-user-select: $select;
  user-select: $select;
}

// Resize anything
@mixin resizable($direction) {
  resize: $direction; // Options: horizontal, vertical, both
  overflow: auto; // Safari fix
}

// CSS3 Content Columns
@mixin content-columns($column-count, $column-gap: $grid-gutter-width) {
  -webkit-column-count: $column-count;
  -moz-column-count: $column-count;
  column-count: $column-count;
  -webkit-column-gap: $column-gap;
  -moz-column-gap: $column-gap;
  column-gap: $column-gap;
}

// Optional hyphenation
@mixin hyphens($mode: auto) {
  word-wrap: break-word;
  -webkit-hyphens: $mode;
  -moz-hyphens: $mode;
  -ms-hyphens: $mode; // IE10+
  -o-hyphens: $mode;
  hyphens: $mode;
}

// Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: alpha(opacity=$opacity-ie);
}



// GRADIENTS
// --------------------------------------------------

#gradient {

  // Horizontal gradient, from left to right
  //
  // Creates two color stops, start and end, by specifying a color and position for each color stop.
  // Color stops are not available in IE9 and below.
  @mixin horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
    background-image: -webkit-gradient(linear, $start-percent top, $end-percent top, from($start-color), to($end-color)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(left, color-stop($start-color $start-percent), color-stop($end-color $end-percent)); // Safari 5.1+, Chrome 10+
    background-image: -moz-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // FF 3.6+
    background-image:  linear-gradient(to right, $start-color $start-percent, $end-color $end-percent); // Standard, IE10
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
  }

  // Vertical gradient, from top to bottom
  //
  // Creates two color stops, start and end, by specifying a color and position for each color stop.
  // Color stops are not available in IE9 and below.
  @mixin vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
    background-image: -webkit-gradient(linear, left $start-percent, left $end-percent, from($start-color), to($end-color)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, $start-color, $start-percent, $end-color, $end-percent); // Safari 5.1+, Chrome 10+
    background-image:  -moz-linear-gradient(top, $start-color $start-percent, $end-color $end-percent); // FF 3.6+
    background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
  }

  @mixin directional($start-color: #555, $end-color: #333, $deg: 45deg) {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient($deg, $start-color, $end-color); // Safari 5.1+, Chrome 10+
    background-image: -moz-linear-gradient($deg, $start-color, $end-color); // FF 3.6+
    background-image: linear-gradient($deg, $start-color, $end-color); // Standard, IE10
  }
  @mixin horizontal-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f) {
    background-image: -webkit-gradient(left, linear, 0 0, 0 100%, from($start-color), color-stop($color-stop, $mid-color), to($end-color));
    background-image: -webkit-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
    background-image: -moz-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
    background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down, gets no color-stop at all for proper fallback
  }
  @mixin vertical-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f) {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($start-color), color-stop($color-stop, $mid-color), to($end-color));
    background-image: -webkit-linear-gradient($start-color, $mid-color $color-stop, $end-color);
    background-image: -moz-linear-gradient(top, $start-color, $mid-color $color-stop, $end-color);
    background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down, gets no color-stop at all for proper fallback
  }
  @mixin radial($inner-color: #555, $outer-color: #333) {
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, from($inner-color), to($outer-color));
    background-image: -webkit-radial-gradient(circle, $inner-color, $outer-color);
    background-image: -moz-radial-gradient(circle, $inner-color, $outer-color);
    background-image: radial-gradient(circle, $inner-color, $outer-color);
    background-repeat: no-repeat;
  }
  @mixin striped($color: rgba(255,255,255,.15), $angle: 45deg) {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, $color), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, $color), color-stop(.75, $color), color-stop(.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
  }
}

// Reset filters for IE
//
// When you need to remove a gradient background, do not forget to use this to reset
// the IE filter for IE9 and below.
@mixin reset-filter() {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}


// Retina images
//
// Short retina mixin for setting background-image and -size

@mixin img-retina($file-1x, $file-2x, $width-1x, $height-1x) {
  background-image: url("${file-1x}");

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url("${file-2x}");
    background-size: $width-1x $height-1x;
  }
}


// Responsive image
//
// Keep images from scaling beyond the width of their parents.

@mixin img-responsive($display: block) {
  display: $display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

// Responsive utilities
// -------------------------
// More easily include all the states for responsive-utilities.less.
@mixin responsive-visibility() {
  display: block !important;
  tr& { display: table-row !important; }
  th&,
  td& { display: table-cell !important; }
}

@mixin responsive-invisibility() {
  &,
  tr&,
  th&,
  td& { display: none !important; }
}

// Grid System
// -----------

// Centered container element
@mixin container-fixed() {
  margin-right: auto;
  margin-left: auto;
  padding-left:  ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  @include clearfix();
}

// Creates a wrapper for a series of columns
@mixin make-row($gutter: $grid-gutter-width) {
  margin-left:  ($gutter / -2);
  margin-right: ($gutter / -2);
  @include clearfix();
}

// Generate the extra small columns
@mixin make-xs-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  float: left;
  width: percentage(($columns / $grid-columns));
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}

// Generate the small columns
@mixin make-sm-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  // Calculate width based on number of columns available
  @media (min-width: $screen-sm-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}

// Generate the small column offsets
@mixin make-sm-column-offset($columns) {
  @media (min-width: $screen-sm-min) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-sm-column-push($columns) {
  @media (min-width: $screen-sm-min) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-sm-column-pull($columns) {
  @media (min-width: $screen-sm-min) {
    right: percentage(($columns / $grid-columns));
  }
}

// Generate the medium columns
@mixin make-md-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  // Calculate width based on number of columns available
  @media (min-width: $screen-md-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}

// Generate the medium column offsets
@mixin make-md-column-offset($columns) {
  @media (min-width: $screen-md-min) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-md-column-push($columns) {
  @media (min-width: $screen-md) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-md-column-pull($columns) {
  @media (min-width: $screen-md-min) {
    right: percentage(($columns / $grid-columns));
  }
}

// Generate the large columns
@mixin make-lg-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  // Calculate width based on number of columns available
  @media (min-width: $screen-lg-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}

// Generate the large column offsets
@mixin make-lg-column-offset($columns) {
  @media (min-width: $screen-lg-min) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-lg-column-push($columns) {
  @media (min-width: $screen-lg-min) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-lg-column-pull($columns) {
  @media (min-width: $screen-lg-min) {
    right: percentage(($columns / $grid-columns));
  }
}

// Text size adjust
@mixin text-size-adjust($value: none) {
  -webkit-text-size-adjust: $value;
  -moz-text-size-adjust: $value;
  -ms-text-size-adjust: $value;
}

// Flex
@mixin flex($value) {
  -webkit-flex: $value;
  -moz-flex: $value;
  -ms-flex: $value;
  flex: $value;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}


@mixin padding-margins($prefix){
  /* Font sizes */
  .#{$prefix}f-s-10 {
    font-size: 10px;
  }
  .#{$prefix}f-s-12 {
    font-size: 12px;
  }
  .#{$prefix}f-s-14 {
    font-size: 14px;
  }
  .#{$prefix}f-s-16 {
    font-size: 16px;
  }
  .#{$prefix}f-s-18 {
    font-size: 18px;
  }
  .#{$prefix}f-s-20 {
    font-size: 20px;
  }
  .#{$prefix}f-s-22 {
    font-size: 22px;
  }
  .#{$prefix}f-s-24 {
    font-size: 24px;
  }
  .#{$prefix}f-s-26 {
    font-size: 26px;
  }
  .#{$prefix}f-s-28 {
    font-size: 28px;
  }
  .#{$prefix}f-s-30 {
    font-size: 30px;
  }

  /* Negative margins and paddings */
  .#{$prefix}m-t--5 {
    margin-top: -5px !important;
  }
  .#{$prefix}m-b--5 {
    margin-bottom: -5px !important;
  }
  .#{$prefix}m-l--5 {
    margin-left: -5px !important;
  }
  .#{$prefix}m-r--5 {
    margin-right: -5px !important;
  }
  .#{$prefix}m-t--10 {
    margin-top: -10px !important;
  }
  .#{$prefix}m-b--10 {
    margin-bottom: -10px !important;
  }
  .#{$prefix}m-l--10 {
    margin-left: -10px !important;
  }
  .#{$prefix}m-r--10 {
    margin-right: -10px !important;
  }

  /* Generic Padding Helpers
  ------------------------------------
  */
  .#{$prefix}p-t-7 {
    padding-top: 7px !important; }

  .#{$prefix}p-r-7 {
    padding-right: 7px !important; }

  .#{$prefix}p-l-7 {
    padding-left: 7px !important; }

  .#{$prefix}p-b-7 {
    padding-bottom: 7px !important; }

  .#{$prefix}p-t-13 {
    padding-top: 13px !important; }

  .#{$prefix}p-r-13 {
    padding-right: 13px !important; }

  .#{$prefix}p-l-13 {
    padding-left: 13px !important; }

  .#{$prefix}p-b-13 {
    padding-bottom: 13px !important; }

  .#{$prefix}p-t-0 {
    padding-top: 0px !important; }

  .#{$prefix}p-r-0 {
    padding-right: 0px !important; }

  .#{$prefix}p-l-0 {
    padding-left: 0px !important; }

  .#{$prefix}p-b-0 {
    padding-bottom: 0px !important; }

  .#{$prefix}padding-0 {
    padding: 0px !important; }

  .#{$prefix}p-t-2 {
    padding-top: 5px !important; }

  .#{$prefix}p-r-2 {
    padding-right: 5px !important; }

  .#{$prefix}p-l-2 {
    padding-left: 5px !important; }

  .#{$prefix}p-t-5 {
    padding-top: 5px !important; }

  .#{$prefix}p-r-5 {
    padding-right: 5px !important; }

  .#{$prefix}p-l-5 {
    padding-left: 5px !important; }

  .#{$prefix}p-b-5 {
    padding-bottom: 5px !important; }

  .#{$prefix}padding-5 {
    padding: 5px !important; }

  .#{$prefix}p-t-10 {
    padding-top: 10px !important; }

  .#{$prefix}p-r-10 {
    padding-right: 10px !important; }

  .#{$prefix}p-l-10 {
    padding-left: 10px !important; }

  .#{$prefix}p-b-10 {
    padding-bottom: 10px !important; }

  .#{$prefix}padding-10 {
    padding: 10px !important; }

  .#{$prefix}p-t-15 {
    padding-top: 15px !important; }

  .#{$prefix}p-r-15 {
    padding-right: 15px !important; }

  .#{$prefix}p-l-15 {
    padding-left: 15px !important; }

  .#{$prefix}p-b-15 {
    padding-bottom: 15px !important; }

  .#{$prefix}padding-15 {
    padding: 15px !important; }

  .#{$prefix}p-t-20 {
    padding-top: 20px !important; }

  .#{$prefix}p-r-20 {
    padding-right: 20px !important; }

  .#{$prefix}p-l-20 {
    padding-left: 20px !important; }

  .#{$prefix}p-b-20 {
    padding-bottom: 20px !important; }

  .#{$prefix}padding-20 {
    padding: 20px !important; }

  .#{$prefix}p-t-25 {
    padding-top: 25px !important; }

  .#{$prefix}p-r-25 {
    padding-right: 25px !important; }

  .#{$prefix}p-l-25 {
    padding-left: 25px !important; }

  .#{$prefix}p-b-25 {
    padding-bottom: 25px !important; }

  .#{$prefix}padding-25 {
    padding: 25px !important; }

  .#{$prefix}p-t-30 {
    padding-top: 30px !important; }

  .#{$prefix}p-r-30 {
    padding-right: 30px !important; }

  .#{$prefix}p-l-30 {
    padding-left: 30px !important; }

  .#{$prefix}p-b-30 {
    padding-bottom: 30px !important; }

  .#{$prefix}padding-30 {
    padding: 30px !important; }

  .#{$prefix}p-t-35 {
    padding-top: 35px !important; }

  .#{$prefix}p-r-35 {
    padding-right: 35px !important; }

  .#{$prefix}p-l-35 {
    padding-left: 35px !important; }

  .#{$prefix}p-b-35 {
    padding-bottom: 35px !important; }

  .#{$prefix}padding-35 {
    padding: 35px !important; }

  .#{$prefix}p-t-40 {
    padding-top: 40px !important; }

  .#{$prefix}p-r-40 {
    padding-right: 40px !important; }

  .#{$prefix}p-l-40 {
    padding-left: 40px !important; }

  .#{$prefix}p-b-40 {
    padding-bottom: 40px !important; }

  .#{$prefix}padding-40 {
    padding: 40px !important; }

  .#{$prefix}p-t-45 {
    padding-top: 45px !important; }

  .#{$prefix}p-r-45 {
    padding-right: 45px !important; }

  .#{$prefix}p-l-45 {
    padding-left: 45px !important; }

  .#{$prefix}p-b-45 {
    padding-bottom: 45px !important; }

  .#{$prefix}padding-45 {
    padding: 45px !important; }

  .#{$prefix}p-t-50 {
    padding-top: 50px !important; }

  .#{$prefix}p-r-50 {
    padding-right: 50px !important; }

  .#{$prefix}p-l-50 {
    padding-left: 50px !important; }

  .#{$prefix}p-b-50 {
    padding-bottom: 50px !important; }

  .#{$prefix}padding-50 {
    padding: 50px !important; }

  .#{$prefix}p-t-55 {
    padding-top: 55px !important; }

  .#{$prefix}p-r-55 {
    padding-right: 55px !important; }

  .#{$prefix}p-l-55 {
    padding-left: 55px !important; }

  .#{$prefix}p-b-55 {
    padding-bottom: 55px !important; }

  .#{$prefix}padding-55 {
    padding: 55px !important; }

  .#{$prefix}p-t-60 {
    padding-top: 60px !important; }

  .#{$prefix}p-r-60 {
    padding-right: 60px !important; }

  .#{$prefix}p-l-60 {
    padding-left: 60px !important; }

  .#{$prefix}p-b-60 {
    padding-bottom: 60px !important; }

  .#{$prefix}padding-60 {
    padding: 60px !important; }

  .#{$prefix}p-t-65 {
    padding-top: 65px !important; }

  .#{$prefix}p-r-65 {
    padding-right: 65px !important; }

  .#{$prefix}p-l-65 {
    padding-left: 65px !important; }

  .#{$prefix}p-b-65 {
    padding-bottom: 65px !important; }

  .#{$prefix}padding-65 {
    padding: 65px !important; }

  .#{$prefix}p-t-70 {
    padding-top: 70px !important; }

  .#{$prefix}p-r-70 {
    padding-right: 70px !important; }

  .#{$prefix}p-l-70 {
    padding-left: 70px !important; }

  .#{$prefix}p-b-70 {
    padding-bottom: 70px !important; }

  .#{$prefix}padding-70 {
    padding: 70px !important; }

  .#{$prefix}p-t-75 {
    padding-top: 75px !important; }

  .#{$prefix}p-r-75 {
    padding-right: 75px !important; }

  .#{$prefix}p-l-75 {
    padding-left: 75px !important; }

  .#{$prefix}p-b-75 {
    padding-bottom: 75px !important; }

  .#{$prefix}padding-75 {
    padding: 75px !important; }

  .#{$prefix}p-t-80 {
    padding-top: 80px !important; }

  .#{$prefix}p-r-80 {
    padding-right: 80px !important; }

  .#{$prefix}p-l-80 {
    padding-left: 80px !important; }

  .#{$prefix}p-b-80 {
    padding-bottom: 80px !important; }

  .#{$prefix}padding-80 {
    padding: 80px !important; }

  .#{$prefix}p-t-85 {
    padding-top: 85px !important; }

  .#{$prefix}p-r-85 {
    padding-right: 85px !important; }

  .#{$prefix}p-l-85 {
    padding-left: 85px !important; }

  .#{$prefix}p-b-85 {
    padding-bottom: 85px !important; }

  .#{$prefix}padding-85 {
    padding: 85px !important; }

  .#{$prefix}p-t-90 {
    padding-top: 90px !important; }

  .#{$prefix}p-r-90 {
    padding-right: 90px !important; }

  .#{$prefix}p-l-90 {
    padding-left: 90px !important; }

  .#{$prefix}p-b-90 {
    padding-bottom: 90px !important; }

  .#{$prefix}padding-90 {
    padding: 90px !important; }

  .#{$prefix}p-t-95 {
    padding-top: 95px !important; }

  .#{$prefix}p-r-95 {
    padding-right: 95px !important; }

  .#{$prefix}p-l-95 {
    padding-left: 95px !important; }

  .#{$prefix}p-b-95 {
    padding-bottom: 95px !important; }

  .#{$prefix}padding-95 {
    padding: 95px !important; }

  .#{$prefix}p-t-100 {
    padding-top: 100px !important; }

  .#{$prefix}p-r-100 {
    padding-right: 100px !important; }

  .#{$prefix}p-l-100 {
    padding-left: 100px !important; }

  .#{$prefix}p-b-100 {
    padding-bottom: 100px !important; }

  .#{$prefix}padding-100 {
    padding: 100px !important; }

  /* Generic Margin Helpers
  ------------------------------------
   */
  .#{$prefix}m-t-0-i {
    margin-top: 0px !important; }

  .#{$prefix}m-r-0-i {
    margin-right: 0px !important; }

  .#{$prefix}m-l-0-i {
    margin-left: 0px !important; }

  .#{$prefix}m-b-0-i {
    margin-bottom: 0px !important; }

  .#{$prefix}m-t-7 {
    margin-top: 7px; }

  .#{$prefix}m-r-7 {
    margin-right: 7px; }

  .#{$prefix}m-l-7 {
    margin-left: 7px; }

  .#{$prefix}m-b-7 {
    margin-bottom: 7px; }

  .#{$prefix}m-t-0 {
    margin-top: 0px; }

  .#{$prefix}m-r-0 {
    margin-right: 0px; }

  .#{$prefix}m-l-0 {
    margin-left: 0px; }

  .#{$prefix}m-b-0 {
    margin-bottom: 0px; }

  .#{$prefix}m-t-5 {
    margin-top: 5px; }

  .#{$prefix}m-r-5 {
    margin-right: 5px; }

  .#{$prefix}m-l-5 {
    margin-left: 5px; }

  .#{$prefix}m-b-5 {
    margin-bottom: 5px; }

  .#{$prefix}m-t-10 {
    margin-top: 10px; }

  .#{$prefix}m-r-10 {
    margin-right: 10px; }

  .#{$prefix}m-l-10 {
    margin-left: 10px; }

  .#{$prefix}m-b-10 {
    margin-bottom: 10px; }

  .#{$prefix}m-t-15 {
    margin-top: 15px; }

  .#{$prefix}m-r-15 {
    margin-right: 15px; }

  .#{$prefix}m-l-15 {
    margin-left: 15px; }

  .#{$prefix}m-b-15 {
    margin-bottom: 15px; }

  .#{$prefix}m-t-20 {
    margin-top: 20px; }

  .#{$prefix}m-r-20 {
    margin-right: 20px; }

  .#{$prefix}m-l-20 {
    margin-left: 20px; }

  .#{$prefix}m-b-20 {
    margin-bottom: 20px; }

  .#{$prefix}m-t-25 {
    margin-top: 25px; }

  .#{$prefix}m-r-25 {
    margin-right: 25px; }

  .#{$prefix}m-l-25 {
    margin-left: 25px; }

  .#{$prefix}m-b-25 {
    margin-bottom: 25px; }

  .#{$prefix}m-t-30 {
    margin-top: 30px; }

  .#{$prefix}m-r-30 {
    margin-right: 30px; }

  .#{$prefix}m-l-30 {
    margin-left: 30px; }

  .#{$prefix}m-b-30 {
    margin-bottom: 30px; }

  .#{$prefix}m-t-35 {
    margin-top: 35px; }

  .#{$prefix}m-r-35 {
    margin-right: 35px; }

  .#{$prefix}m-l-35 {
    margin-left: 35px; }

  .#{$prefix}m-b-35 {
    margin-bottom: 35px; }

  .#{$prefix}m-t-40 {
    margin-top: 40px; }

  .#{$prefix}m-r-40 {
    margin-right: 40px; }

  .#{$prefix}m-l-40 {
    margin-left: 40px; }

  .#{$prefix}m-b-40 {
    margin-bottom: 40px; }

  .#{$prefix}m-t-45 {
    margin-top: 45px; }

  .#{$prefix}m-r-45 {
    margin-right: 45px; }

  .#{$prefix}m-l-45 {
    margin-left: 45px; }

  .#{$prefix}m-b-45 {
    margin-bottom: 45px; }

  .#{$prefix}m-t-50 {
    margin-top: 50px; }

  .#{$prefix}m-r-50 {
    margin-right: 50px; }

  .#{$prefix}m-l-50 {
    margin-left: 50px; }

  .#{$prefix}m-b-50 {
    margin-bottom: 50px; }

  .#{$prefix}m-t-55 {
    margin-top: 55px; }

  .#{$prefix}m-r-55 {
    margin-right: 55px; }

  .#{$prefix}m-l-55 {
    margin-left: 55px; }

  .#{$prefix}m-b-55 {
    margin-bottom: 55px; }

  .#{$prefix}m-t-60 {
    margin-top: 60px; }

  .#{$prefix}m-r-60 {
    margin-right: 60px; }

  .#{$prefix}m-l-60 {
    margin-left: 60px; }

  .#{$prefix}m-b-60 {
    margin-bottom: 60px; }

  .#{$prefix}m-t-65 {
    margin-top: 65px; }

  .#{$prefix}m-r-65 {
    margin-right: 65px; }

  .#{$prefix}m-l-65 {
    margin-left: 65px; }

  .#{$prefix}m-b-65 {
    margin-bottom: 65px; }

  .#{$prefix}m-t-70 {
    margin-top: 70px; }

  .#{$prefix}m-r-70 {
    margin-right: 70px; }

  .#{$prefix}m-l-70 {
    margin-left: 70px; }

  .#{$prefix}m-b-70 {
    margin-bottom: 70px; }

  .#{$prefix}m-t-75 {
    margin-top: 75px; }

  .#{$prefix}m-r-75 {
    margin-right: 75px; }

  .#{$prefix}m-l-75 {
    margin-left: 75px; }

  .#{$prefix}m-b-75 {
    margin-bottom: 75px; }

  .#{$prefix}m-t-80 {
    margin-top: 80px; }

  .#{$prefix}m-r-80 {
    margin-right: 80px; }

  .#{$prefix}m-l-80 {
    margin-left: 80px; }

  .#{$prefix}m-b-80 {
    margin-bottom: 80px; }

  .#{$prefix}m-t-85 {
    margin-top: 85px; }

  .#{$prefix}m-r-85 {
    margin-right: 85px; }

  .#{$prefix}m-l-85 {
    margin-left: 85px; }

  .#{$prefix}m-b-85 {
    margin-bottom: 85px; }

  .#{$prefix}m-t-90 {
    margin-top: 90px; }

  .#{$prefix}m-r-90 {
    margin-right: 90px; }

  .#{$prefix}m-l-90 {
    margin-left: 90px; }

  .#{$prefix}m-b-90 {
    margin-bottom: 90px; }

  .#{$prefix}m-t-95 {
    margin-top: 95px; }

  .#{$prefix}m-r-95 {
    margin-right: 95px; }

  .#{$prefix}m-l-95 {
    margin-left: 95px; }

  .#{$prefix}m-b-95 {
    margin-bottom: 95px; }

  .#{$prefix}m-t-100 {
    margin-top: 100px; }

  .#{$prefix}m-r-100 {
    margin-right: 100px; }

  .#{$prefix}m-l-100 {
    margin-left: 100px; }

  .#{$prefix}m-b-100 {
    margin-bottom: 100px; }

  .#{$prefix}pull-left {
    float: left;
  }
  .#{$prefix}pull-right {
    float: right;
  }

  .#{$prefix}pull-left-i {
    float: left !important;
  }
  .#{$prefix}pull-right-i {
    float: right !important;
  }


  .col-#{$prefix}115 {
    width: 95.83333333%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}105 {
    width: 87.49999999%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}95 {
    width: 79.16666666%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}85 {
    width: 70.83333333%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}75 {
    width: 62.49999999%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}65 {
    width: 54.16666666%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}55 {
    width: 45.83333333%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}45 {
    width: 37.49999999%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}35 {
    width: 29.16666666%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}25 {
    width: 20.49999999%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}15 {
    width: 12.49999999%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}05 {
    width: 4.16666666%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .#{$prefix}m-t-3{
    margin-top: 3px;
  }

  .#{$prefix}no-border{
    border: none !important;
  }
  .#{$prefix}full-width{
    width: 100%;
  }
  .#{$prefix}full-height{
    height: 100% !important;
  }

  .#{$prefix}text-right{
    text-align: right !important;
  }
  .#{$prefix}text-left{
    text-align: left !important;
  }
  .#{$prefix}text-center{
    text-align: center !important;
  }

  .#{$prefix}visible-inline{
    display: inline-block !important;
  }

  .#{$prefix}hidden{
    display: none !important;
  }

  .#{$prefix}center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
      flex: 1;
    }
  }

  .#{$prefix}row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }

  .#{$prefix}height-auto {
    height: auto;
  }


  .#{$prefix}border-right {
    border-right: solid 1px $grayAlpha;
  }
  .#{$prefix}border-top {
    border-top: solid 1px $grayAlpha;
  }

}

@mixin diagonalAnimations($xname,$min,$max){
  @-moz-keyframes #{$xname} {
    0% {
      -moz-transform: rotate($min);
    }
    50% { -moz-transform: rotate($max); }
    100% {
      -moz-transform: rotate($min);
    }
  }
  @-webkit-keyframes #{$xname} {
    0%{
      -webkit-transform: rotate($min);
    }
    50% { -webkit-transform: rotate($max); }
    100%{
      -webkit-transform: rotate($min);
    }
  }
  @keyframes #{$xname} {
    0%{
      -webkit-transform: rotate($min);
      transform:rotate($min);
    }
    50% {
      -webkit-transform: rotate($max);
      transform:rotate($max);
    }
    100%{
      -webkit-transform: rotate($min);
      transform:rotate($min);
    }
  }
}