@charset "UTF-8";

@import "variables";
@import "mixin";
@import "common";
@import "form";


.container.limited-width {
  width: 90%;
  margin-left: 5%;
}

/** body loader **/
.body-loader {
  z-index: 999999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 1);
  display: inline-block;

  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;

  &.loaded {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
  }
  .cs-loader{
    position: absolute;
    top: 50%;
  }
}

.loaderOverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right:0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
  z-index: 9050;
  .cs-loader{
    top: 50%;
  }
}

/** Animations */
.cs-loader {
  height: 50px;
  position: relative;
  display: block;
  width: 100%;
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: 100%;
  color: $redPrimary;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display:inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}
/** \body loader **/

#headerCarousel {
  padding-top: 100px;
  .carousel-inner {
    img {
      width: 100%;
      max-height: 700px;
    }
  }
}

.dark-background {
  background: $bgColor;
  color: #fff;
}

#headerNavigation {
  .languageBar {
    padding-right: 15px;
    padding-bottom: 6px;
    line-height: 18px;
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
    font-size: 18px;
  }
  background: $bgColor;
  height: 100px;
  z-index: 100;
  .container {
    height: 100%;
  }
  #headerLogo {
    position: relative;
    #logotype {
      text-align: center;
      background: $bgColor;
      width: 200px;
      height: 99px;
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 2;
      -webkit-transition: width 200ms linear, height 200ms linear;
      -ms-transition: width 200ms linear, height 200ms linear;
      transition: width 200ms linear, height 200ms linear;
      img {
        width: 160px;
        margin: 15px;
        -webkit-transition: width 200ms linear, height 200ms linear;
        -ms-transition: width 200ms linear, height 200ms linear;
        transition: width 200ms linear, height 200ms linear;
      }
    }
    #logotype-slogan {
      background: $bgColor;
      color: #fff;
      width: 200px;
      position: absolute;
      top: 99px;
      height: 20px;
      font-size: 8px;
      left: 0px;
      text-align: center;
      z-index: 1;
      -webkit-transition: top 200ms linear;
      -ms-transition: top 200ms linear;
      transition: top 200ms linear;
    }
  }
  #header-navigation {
    float: right;
    &:before {
      content: '\200B';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
    }
    >ul {
      display: inline-block;
      vertical-align: middle;
      list-style: none;
      margin-bottom: 0px;
      float: none;
      white-space: nowrap;
      padding: 0;
      li {
        float: left;
        display: inline-block;
        border-bottom: solid 2px transparent;
        color: #fff;
        a {
          padding: 10px;
          font-size: 16px;
          color: #fff;
          border-bottom: solid 2px transparent;
          background: none !important;
          &:hover {
            background: none;
            border-bottom: solid 2px #fff;
          }
          &:focus {
            background: none;
            border-bottom: solid 2px #fff;
          }
        }
        ul.dropdown-menu {
          background: $bgColor;
          >li {
            float: none;
            display: block;
          }
        }
      }
      li.menu-mobile {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 20px;
        display: block;
      }
      li.active {
        a {
          background: none;
          border-bottom: solid 2px #fff;
        }
      }
    }
  }
}

#headerNavigation.condensed {
  #logotype-slogan {
    top: 79px !important;
  }
  #logotype {
    width: 200px;
    height: 80px !important;
    img {
      width: 110px !important;
      margin: 15px !important;
    }
  }
}

.navbar-toggle {
  z-index: 6;
  display: block;
}

#header-navigation {
  height: auto;
  max-height: unset;
}

.navbar-header {
  width: 100%;
}


/** Alerts **/
.header-popup{
  position: relative;
  width: 100%;
  height: 30px;
  font-size: 18px;
  font-weight: 300;
  z-index: 12055 !important;
}
.header-popup a,.header-popup a:active,.header-popup a:visited{
  color: #FFF;
  text-decoration: underline !important;
}
.header-popup a:hover{
  text-decoration: none !important;
}

.header-popup i.fa-times{
  float:right;
  margin-top: 3px;
}
.header-popup.success {
  background: $colorSuccess;
  color: #fff;
}
.header-popup.error {
  background: $colorError;
  color: #fff;
}

.header-popup.info {
  background: $colorInfo;
  color: #fff;
}

.header-popup .header-popup-container {
  padding: 5px;
  margin: 0 10px;
}

.alertBox {
  .header-popup {
    height: auto;

    //margin-top: 5px;
    padding: 0 20px;

    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;

    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;

    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    .header-popup-container {
      margin: 0;
      padding: 15px 10px;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 0.5;

      ul {
        margin-bottom: 0;
        margin-left: 5px;
      }

      //i.ti-close {
      //  cursor: pointer;
      //}
    }

    .header-popup-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      i.ti-close {
        cursor: pointer;
      }
    }
  }
}

#topStickyBar {
  position: fixed;
  top: 100px;
  right: 0;
  left: 0;
  z-index: 600;
  &.condensed {
    top: 60px;
  }
  transition-timing-function: ease;
  transition-property: top;
  transition-duration: 0.5s;

  .alertBox {
    position: relative;
    width: 100%;
    //padding: 0 15px;
    //top: 60px;
    transition-timing-function: ease;
    transition-property: top;
    transition-duration: 0.5s;

    .header-popup {
      margin-top: 5px;

      .header-popup-container {
        padding: 15px 10px 15px 0;
        ul {
          margin-bottom: 0;
          margin-left: 5px;
        }
      }
      &.error {
        background: rgba(249, 249, 249, 0.9);
        color: $redPrimary;
        border: 2px solid $redPrimary;
        font-weight: 500;
      }
    }
  }
}

#smallPageWrapper {
  min-height: 100vh;
  height: calc(100% - 100px);
  width: 100%;
  //padding-top: 100px;
  display: table;
}


.social-icons-box {
  font-size: 26px;
  a {
    display: inline-block;
    position: relative;
    transition: all .2s ease 0s;
    &:not(:last-child) {
      margin-right: 5px;
    }
    color: #FFF !important;
    .fab::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: lighten($grayPrimary,60%);
      transition: all .3s ease 0s;
    }
    &:hover, &:focus {
      color: lighten($grayPrimary,40%) !important;
      .fab::after {
        width: 100%;
      }
    }
  }
  .socialCircle {
    background-color: #FFF;
  }
}

.dark-background {
  .social-icons-box {
    a {
      .fab::after {
        background-color: lighten($blueThirdDark, 30%);
      }
      &:hover, &:focus {
        color: lighten($blueThirdDark, 30%) !important;
      }
    }
  }
  a:not(.btn) {
    color: $bluePrimary;
    //font-weight: 700;
    &:hover, &:active, &:visited, &:focus {
      text-decoration: none;
    }
    &:hover {
      color: $blueSecondary;
    }
  }
}


.error404 {
  font-size: 240px;
  color: $grayAlpha;
  background: url('/img/error-bg.jpg');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: errorAnimation 17s ease infinite;
}

.flex-container {
  display: flex; //initialises flexbox
  flex-wrap: wrap; //tells it to wrap overflowing contents
  .flex-item {
    flex: 0 0 100%;
  }
}
.estate-item {
  padding-bottom: 15px;
}

.object-header {
  position: relative;
  .object-header__bg, .object-header__bg-dark {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .object-header__bg {
    z-index: -2;
    //filter: grayscale(100%);
    background-size: cover;
  }
  .object-header__bg-dark {
    z-index: -1;
    opacity: 0.7;
    background-color: #000;
  }
  .object-header__preview {
    img {
      display: inline-block;
      height: 100%;
      width: 100%;
      //max-height: 100vh;
      //max-width: 120vh;
      object-fit: contain; // this will fill the view window without losing aspect ratio.
    }
    .object-header__preview-img {
      min-height: 37vh;
      max-height: 249px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    .slick-dots {
      bottom: 10px;
      line-height: 10px;
      li {
        margin: 0 2px;
      }
      li, li button, li button:before {
        width: 10px;
        height: 10px;
      }
      li button:before {
        line-height: 10px;
      }
    }
  }
  .object-header__nav {
    .slick-slide:not(.slick-current) {
      opacity: 0.6;
    }
    //.slick-slide { cursor: pointer; }
  }
  //.slick-dots li button:hover:before, .slick-dots li button:focus:before

  .slick-dots {
    li {
      button {
        &:before {
          color: #FFF;
          opacity: 0.5;
        }
        &:hover:before, &:focus:before {
          opacity: 0.5;
        }
      }
      &.slick-active {
        button:before {
          color: #FFF;
          opacity: 1;
        }
      }
    }
  }

}


.object-header__preview {
  //.slick-arrow {
  //  margin: 0 2px;
  //}
  //.slick-prev, .slick-next {
  //  position: absolute;
  //  //top: 35px;
  //  top: 50%;//36px;
  //  color: #fff;
  //  width: 30px;
  //  height: 30px;
  //  line-height: 30px;
  //  border-radius: 15px;
  //  transition: all .2s ease 0s;
  //  &:hover {
  //    background-color: $gray;
  //    color: $bgColor;
  //  }
  //}
  //.slick-prev {
  //  left: -30px;
  //}
  //.slick-next {
  //  right: -30px;
  //}
  .slick-prev, .slick-next {
    height: 28px;
    width: 28px;
    &:before {
      content: none;
      font-family: themify;
      font-size: 28px;
    }
  }
  .ti-angle-right:before {
    content: "\e649";
  }
  .ti-angle-left:before {
    content: "\e64a";
  }
}

ul.attributes {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100%;

  li {
    height: 60px;
    width: 25%;
    float: left;
    border-right: solid 1px #7b8890;
    text-align: center;
    padding: 10px 1px 0 1px;

    &:last-child {
      border-right: none;
    }
    div.attributes_subtext {
      padding-top: 2px;
      font-size: 10px;
    }
  }
  &.attr-small {
    li {
      height: auto;
      border-right: none;
      div {
        font-size: 10px;
      }
    }
  }
}

.ask-a-question {
  margin-top: 15px;
  border-radius: .25em;
  display: inline-block;

  input, textarea {
    background: #fff !important;
    color: $bgColor !important;
    border-radius: 0;
  }
}

ul.item-attributes {
  margin-top: 30px;
  position: relative;
  display: inline-block;
  width: 100%;
  list-style: none;

  li {
    padding: 10px 0 15px 0;
    width: 100%;
    float: left;
    border-bottom: dotted 1px $bgColor;

    &:last-child {
      border-bottom: none;
    }

    .attribute-name {
      float: left;
    }

    .attribute-value {
      float: right;
      font-weight: 500;
    }
  }
}

.row.item-links {
  margin-top: 25px;
  > div {
    padding: 10px;
    border-bottom: solid 1px $gray;

    &:last-child {
      border-bottom: none;
    }
  }
}

.location-details {
  font-size: 14px;
  -ms-word-wrap: normal;
  word-wrap: normal;
  white-space: nowrap;
}

.label-orange {
  color: #d32d27;
  border: solid 1px #d32d27;
  font-weight: 300;
  line-height: 12px;
  padding: 5px 10px;
}


.coming-soon{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  //background: rgba(241,241,241,0.5);
  height: 240px;

  overflow: hidden;
  .coming-soon-text{
    background: $redSecondary;
    color: #fff;
    font-weight: 500;
    width: 220px;
    top: 32px;
    left: -64px;
    position: absolute;
    height: 30px;
    padding-top: 5px;
    font-size: 14px;
    text-align: center;
  }
}

.filter-toggle-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#showFilterBtn, #hideFilterBtn {
  .ti-angle-double-up, .ti-search  {
    font-size: 20px;
  }
}

#showFilterBtn {
  .ti-search  {
    margin-left: 5px;
  }
}

.filter-page__main, .filter-page__object {
  #showFilterBtn { display: none; };
}


@media (max-width: 460px) {

  .error404 {
    font-size: 140px !important;
  }
}

/** For smartphones: **/
@media only screen and (min-width: 480px) {

  .object-header {
    .object-header__preview {
      .object-header__preview-img {
        min-height: 33vh;
        max-height: 319px;
      }
    }
  }

}

/** For portrait tablets: **/
@media only screen and (min-width: 600px) {

  .object-header {
    .object-header__preview {
      .object-header__preview-img {
        min-height: 41vh;
        max-height: 399px;
      }
    }
  }

}

@media (max-width: 767px) {
  #logotype {
    width: 140px !important;
    height: 80px !important;
    img {
      width: 110px !important;
    }
  }
  #headerNavigation {
    #headerLogo {
      #logotype-slogan {
        top: 80px !important;
        height: auto !important;
        width: 140px !important;
        font-size: 6px !important;
      }
    }
  }
  .container-fluid {
    >.navbar-collapse {
      margin: 0 !important;
    }
    >.navbar-header {
      margin: 0 !important;
    }
  }
  .container {
    >.navbar-collapse {
      margin: 0 !important;
    }
    >.navbar-header {
      margin: 0 !important;
    }
  }
  #header-navigation {
    padding-top: 10px;
  }
  .navbar-nav {
    margin: 7.5px -1px;
  }

  .object-header__preview {
    margin-bottom: 0!important;
  }

  ul.attributes li {
    height: 100px !important;
    span {
      width: 100%;
      float: left;
      text-align: center;
      font-size: 14px;
    }
  }


  .filter-page__main, .filter-page__object {
    #formBox { display: none; }
    #hideFilterBtn { display: none; };
    #showFilterBtn { display: flex; };
  }
}

/** For desktop and tablets sm: **/
@media only screen and (min-width: 768px) {
  .row.item-links {
    margin-top: 25px;
    > div {
      padding: 10px;
      //&:nth-child(odd) {
      //  border-right: solid 1px blue;
      //}
      &:nth-child(1), &:nth-child(2) {
        border-bottom: solid 1px $gray;
      }
    }
  }

  .object-header {
    .object-header__preview {
      .object-header__preview-img {
        min-height: 44vh;
        max-height: 479px;
      }
    }
  }
}

@media (max-width: 991px) {
  #header-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-height: 100%;
    background: rgba(12, 41, 78, 0.9) !important;
    z-index: 2;
    height: 0;
    opacity: 0;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    display: none !important;
  }
  #header-navigation.active {
    display: block !important;
    opacity: 1 !important;
    height: 100%;
  }
  #header-navigation.inactive {
    opacity: 0;
  }
  .noscroll {
    overflow: hidden;
  }
}

/** For desktop md **/
@media only screen and (min-width: 992px) {

  #header-navigation {
    height: 100% !important;
    max-height: unset;
  }
  .navbar-toggle {
    display: none !important;
  }
  #headerNavigation {
    .languageBar {
      padding-right: 10px;
    }
  }

  .container.limited-width {
    width: 1010px;
    margin: 0 auto;
  }

  .object-header {
    .object-header__preview {
      .object-header__preview-img {
        min-height: 57vh;
        max-height: 625px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .flex-container {
    display: flex; //initialises flexbox
    flex-wrap: wrap; //tells it to wrap overflowing contents
    .flex-item {
      flex: 0 0 50%;
    }
  }
  .estate-item {
    padding: 0 7.5px 15px 0;
  }
  .estate-item:nth-child(2n) {
    padding-right: 0 !important;
    padding-left: 7.5px !important;
  }
}

/** For desktop lg **/
@media only screen and (min-width: 1200px) {

  #header-navigation {
    height: 100% !important;
    max-height: unset;
  }
  .flex-container {
    .flex-item {
      flex: 0 0 33.333%;
    }
  }

  .object-header {
    .object-header__preview {
      .object-header__preview-img {
        min-height: 70vh;
        max-height: 758px;
      }
    }
  }

  .estate-item {
    padding-left: 0;
    padding-right: 7.5px;
  }
  .estate-item:nth-child(3n+2) {
    padding-right: 7.5px !important;
    padding-left: 7.5px !important;
  }
  .estate-item:nth-child(3n+3) {
    padding-left: 7.5px !important;
    padding-right: 0 !important;
  }

  .object-container {
    width: 900px;
  }
}