














.object-card {
  background: #fff;
  height: 100%; }


.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column; }

.flex-container {
  display: flex;
  flex-wrap: wrap; }
.flex-container .flex-item {
  flex: 0 0 100%; }

.estate-item {
  padding-bottom: 15px; }


.object-card .object-image-list {
  width: 100% !important;
  height: 240px;
  overflow: hidden; }

.pagination li {
  margin: 0 10px;
  float: left;
  width: 40px;
  height: 40px;
  display: block;
  background: none !important;
  border: solid 2px #7b8890; }
.pagination li a {
  background: none !important;
  width: 100%;
  border: none !important;
  padding: 0;
  margin: 0;
  height: 100%;
  color: #7b8890; }
.pagination li.active {
  background: none;
  border: solid 2px #0c2947; }
.pagination li.active a {
  background: none;
  border: none;
  color: #0c2947;
  font-weight: bold; }
.pagination li.active a:hover {
  color: #000; }
.pagination li:hover {
  border-color: #000; }
.pagination li:hover a {
  color: #000; }

.region-promo-list .region-item {
  position: relative;
  vertical-align: bottom;
  height: 400px;
  padding: 15px;
  text-align: center;
  background-size: cover;
  background-position: center center;
  display: flex; }
.region-promo-list .region-item:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(12, 41, 78, 0.1), rgba(12, 41, 78, 0.7)); }
.region-promo-list .region-item .region-description {
  width: 100%;
  display: inline-block;
  align-self: flex-end; }
.region-promo-list .region-item .region-description h1 {
  font-size: 22px;
  color: #fff;
  position: relative;
  margin-bottom: 0;
  font-weight: 300; }
.region-promo-list .region-item .region-description h3 {
  font-size: 18px;
  color: #fff;
  position: relative;
  margin-top: 10px;
  font-weight: 400;
  margin-bottom: 30px; }
.region-promo-list .region-item .region-description a.btn {
  width: 100%;
  position: relative; }

.photo-holder {
  width: 100%;
  position: relative;
  float: left;
  height: 300px;
  margin-top: 100px; }
.photo-holder .primary {
  width: 40%;
  float: left;
  height: 100%;
  overflow: hidden;
  display: block; }
.photo-holder .primary a img {
  width: 100%; }
.photo-holder .others {
  width: 60%;
  float: left;
  display: flex;
  flex-flow: row wrap; }
.photo-holder .others a {
  flex: 0 0 33.33%; }
.photo-holder .others a img {
  width: 100%; }

.flex-photo-holder {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  flex-direction: row !important;
  overflow: hidden !important;
  background: black !important; }
.flex-photo-holder .flex-photo-holder_primary {
  width: 50%;
  height: 600px;
  -webkit-box-pack: center !important;
  -webkit-box-align: center !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  vertical-align: middle !important;
  background-color: black !important;
  position: relative !important;
  overflow: hidden !important;
  border-width: 1px !important;
  border-style: solid !important;
  background-clip: border-box;
  background-size: cover;
  background-position: center; }
.flex-photo-holder .flex-photo-holder_primary a {
  width: 100%;
  height: 100%;
  display: block; }
.flex-photo-holder .flex-photo-holder_column {
  flex-direction: column !important;
  position: relative !important;
  width: 25%; }
.flex-photo-holder .flex-photo-holder_column .flex-photo-holder_column_item {
  overflow: hidden !important;
  height: 300px;
  -webkit-box-pack: center !important;
  -webkit-box-align: center !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  vertical-align: middle !important;
  background-color: black !important;
  position: relative !important;
  border-width: 1px !important;
  border-style: solid !important;
  background-clip: border-box;
  background-size: cover;
  background-position: center; }
.flex-photo-holder .flex-photo-holder_column .flex-photo-holder_column_item a {
  width: 100%;
  height: 100%;
  display: block; }

ul.attributes {
  list-style: none; }
ul.attributes li {
  height: 60px;
  width: 25%;
  float: left;
  border-right: solid 1px #7b8890;
  text-align: center;
  padding-top: 10px; }
ul.attributes li:last-child {
  border-right: none; }

.ask-a-question {
  margin-top: 15px;
  border-radius: .25em;
  display: inline-block; }
.ask-a-question input, .ask-a-question textarea {
  background: #fff !important;
  color: #0c2947 !important;
  border-radius: 0; }

ul.item-attributes {
  margin-top: 20px;
  position: relative;
  display: inline-block;
  list-style: none; }
ul.item-attributes li {
  padding: 15px 0;
  width: 100%;
  float: left;
  border-bottom: solid 1px #7b8890;
  padding-top: 10px; }
ul.item-attributes li:last-child {
  border-bottom: none; }
ul.item-attributes li .attribute-name {
  float: left; }
ul.item-attributes li .attribute-value {
  float: right;
  font-weight: 500; }

.location-details {
  font-size: 14px;
  -ms-word-wrap: normal;
  word-wrap: normal;
  white-space: nowrap; }

.gallery-item {
  height: 150px;
  background-clip: border-box;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5); }
.gallery-item.primary-item {
  height: 400px; }
.gallery-item a {
  width: 100%;
  height: 100%;
  display: block; }

@media (max-width: 767px) {

  ul.attributes li {
    height: 80px !important; }
  ul.attributes li span {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 14px; }
}

@media (max-width: 991px) {

  .noscroll {
    overflow: hidden; }
}

@media (min-width: 992px) {
  .gallery-item {
    height: 300px;
    background-clip: border-box;
    background-size: cover;
    background-position: center; }
  .gallery-item.primary-item {
    height: 600px; }
  .gallery-item a {
    width: 100%;
    height: 100%;
    display: block; }

}

@media (min-width: 768px) and (max-width: 1199px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap; }
  .flex-container .flex-item {
    flex: 0 0 50%; }

  .estate-item {
    padding: 0 7.5px 15px 0; }

  .estate-item:nth-child(2n) {
    padding-right: 0 !important;
    padding-left: 7.5px !important; }
}

@media (min-width: 1200px) {
  .flex-container .flex-item {
    flex: 0 0 33.333%; }

  .estate-item {
    padding-left: 0;
    padding-right: 7.5px; }

  .estate-item:nth-child(3n+2) {
    padding-right: 7.5px !important;
    padding-left: 7.5px !important; }

  .estate-item:nth-child(3n+3) {
    padding-left: 7.5px !important;
    padding-right: 0 !important; }

}
