$blackAlphaPrimary: rgba(0, 0, 0, 0.1);
$grayPrimary: #233a47;
$grayPrimary2: mix($grayPrimary,#fff,45%);
$graySecondary:#d8d8d8;
$bluePrimary: #a8d9ef;

$greenPrimary: #75efc5;
$greenSecondary: #50e3c2;
$darkGreenPrimary: mix($greenPrimary, #000, 85%);
$darkGreenSecondary: mix($greenSecondary, #000, 85%);
$purplePrimary: #323264;
$purpleSecondary: #373964;
$purpleLight: #bebedf;

$facebook: #39589c;
$google: #e14a31;
$linkedIn: #007aba;


//--------------- new
$baseFont: 'Open Sans'; //'Montserrat';
$topMenuHeight: 100px;
$footerHeight: 80px;
$mainTextColor: #2c2f33; //#4a4a4a;
$whitePrimary: #FFF;
$gray: #7b8890;
$grayLight: #f1f1f1;
$grayAlpha: rgba(35, 58, 71, 0.2);
$bgColor: #0c2947;

$redPrimary: #d32d27;
$redSecondary: #d0021b;
$darkRedPrimary: mix($redPrimary, #000, 45%);
$darkRedSecondary: mix($redSecondary, #000, 45%);

$colorError: rgba(155,8,8,0.8);
$colorSuccess: rgba(56,155,8,0.8);
$colorInfo: rgba(47,147,216, 0.8);

$bluePrimary: #a8d9ef;
$blueSecondary: #d4ecf7;
$blueThirdDark:#51B1EB;
$blueLink: #23527c;